---
import '@styles/breadcrumbs.scss';
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Новости</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Закрытие расчетного счета по инициативе банка
    </li>
  </ol>
</nav>
