---
import './index.scss';
---

<div class="signatures-block">
  <div class="signatures-block__group">
    <div class="signatures-block-item">
      <p class="signatures-block-item__label">Подпись сотрудника</p>
      <p class="signatures-block-item__label">Дата</p>
    </div>

    <div class="signatures-block-item">
      <a
        href="#"
        class="signatures-block-item__text signatures-block-item__send-for-approval"
        >Отправить на согласование</a
      >
      <span class="signatures-block-item__text">—</span>
    </div>
  </div>

  <div class="signatures-block__group">
    <div class="signatures-block-item">
      <p class="signatures-block-item__label">Подпись руководителя</p>
      <p class="signatures-block-item__label">Дата</p>
    </div>

    <div class="signatures-block-item">
      <span
        class="signatures-block-item__text signatures-block-item__in-approval-process"
        >Согласование</span
      >
      <span class="signatures-block-item__text">—</span>
    </div>
  </div>

  <div class="signatures-block__group">
    <div class="signatures-block-item">
      <p class="signatures-block-item__label">Подпись HR</p>
      <p class="signatures-block-item__label">Дата</p>
    </div>

    <div class="signatures-block-item">
      <span class="signatures-block-item__text signatures-block-item__approved"
        >Ознакомлен</span
      >
      <span class="signatures-block-item__text">07.06.2024</span>
    </div>
  </div>
</div>
