.company-description-features {
  &__item {
    p {
      line-height: 120%;
      color: #3271ec;
      font-size: 24px;
      font-weight: 500;
			overflow-wrap: break-word;
    }

    span {
      display: block;
      margin-top: 10px;
      line-height: 120%;
      color: #212529;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
