---
import './_index.scss';
---

<div class="row gy-4 company-description-features">
  <h5 class="company-description-features__title">Наши преимущества</h5>

  <div class="col-md-4 company-description-features__item">
    <p>Надежность</p>
    <span
      >Мы более 20 лет работаем на рынке и являемся частью одной из крупнейших
      финансовых групп страны.</span
    >
  </div>

  <div class="col-md-4 company-description-features__item">
    <p>Экспертиза</p>
    <span
      >Мы максимально учитываем специфику бизнеса наших клиентов и стараемся
      подобрать оптимальные условия финансирования.</span
    >
  </div>

  <div class="col-md-4 company-description-features__item">
    <p>Клиентоориентированность</p>
    <span>Мы придерживаемся высочайших стандартов качества обслуживания.</span>
  </div>

  <div class="col-md-4 company-description-features__item">
    <p>Ответственность</p>
    <span
      >Мы ответственно подходим к каждой задаче, выполняя все взятые на себя
      обязательства.</span
    >
  </div>

  <div class="col-md-4 company-description-features__item">
    <p>Инновации</p>
    <span
      >Мы стремимся предлагать нашим клиентам наиболее современные финансовые
      решения, постоянно внедряем новые продукты и технологии.</span
    >
  </div>

  <div class="col-md-4 company-description-features__item">
    <p>Доступность</p>
    <span
      >Мы работаем через региональную сеть Газпромбанка, которая насчитывает
      более 400 точек продаж по всей территории России</span
    >
  </div>
</div>
