---
import TableCard from '@components/pages/myPage/myPage7/table/TableCard.astro';
---

<div class="employees-table table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <th>Действия</th>
        <th>Названия</th>
        <th>Автор</th>
        <th>Дата создания</th>
        <th>Крайний срок</th>
        <th>Статус</th>
        <th>Исполнитель</th>
      </tr>
    </thead>

    <tbody>
      <TableCard />
      <TableCard />
      <TableCard />
    </tbody>
  </table>
</div>

<style lang="scss">
  .employees-table {
    thead th {
      border: none;
      color: #b3b3b3;
      font-size: 12px;
      font-weight: 900;
      white-space: pre-line;
    }

    tbody::before {
      content: '-';
      display: block;
      line-height: 1em;
      color: transparent;
    }
  }
</style>
