---
import './_index.scss';
---

<tr>
  <td class="col-md-2">
    <div class="table-employee-card">
      <div class="table-employee-card__text">
        <p>Константин Константинопальский</p>
      </div>
    </div>
  </td>
  <td class="col-md-2">Отдел персонала</td>
  <td>Руководитель направления подбора и адаптации</td>
  <td>12345</td>
  <td class="col-md-2">+7 (999) 888-77-66</td>
  <td>ivanivanov@mail.ru</td>
</tr>
