body {
  background-color: #f3f5fb;
}

.advertisement-page {
  margin: 50px 260px 0 260px;

  @media (max-width: 1300px) {
    margin: 50px 100px 0 100px;
  }

  &__breadcrumbs-and-star {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    color: #212529;
    line-height: 38.4px;
    margin-top: 24px;
  }

  &__label {
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
    color: #212529;
    line-height: 24px;
  }

  &__fields {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__btn {
    margin-top: 32px;
  }
}
