---
import WhiteCardsBlockCard from '@components/pages/myPage/whiteCardsBlock/WhiteCardsBlockCard.astro';
---

<div class="row gx-2 gy-2 white-cards-block">
  <WhiteCardsBlockCard label="Подразделение" text="Отдел персонала" />
  <WhiteCardsBlockCard label="Испытательный срок" text="23.02.2022 - 30.03.2022" />
  <WhiteCardsBlockCard label="Должность" text="Руководитель проекта" />
  <WhiteCardsBlockCard label="Руководитель" text="Иванов Иван Иванович" />
  <WhiteCardsBlockCard label="ФИО" text="Иванов Иван Иванович" />
  <WhiteCardsBlockCard label="Наставник" text="Иванов Иван Иванович" />
</div>

