---
const { position, grayClass } = Astro.props;

import { Image } from 'astro:assets';

import avatar from '@assets/avatar.png';
---

<a href="#" class=`employee-card ${grayClass ? 'grayClass' : ''}`>
  <div class="employee-card__avatar">
    <Image src={avatar} width="60" height="60" alt="Аватар" />

    <div class="employee-card__avatar-after-element">
      <svg
        width="15"
        height="15"
        viewBox="0 0 15 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M7.4375 14.4688C9.3023 14.4688 11.0907 13.728 12.4093 12.4093C13.728 11.0907 14.4688 9.3023 14.4688 7.4375C14.4688 5.5727 13.728 3.78427 12.4093 2.46566C11.0907 1.14704 9.3023 0.40625 7.4375 0.40625C5.5727 0.40625 3.78427 1.14704 2.46566 2.46566C1.14704 3.78427 0.40625 5.5727 0.40625 7.4375C0.40625 9.3023 1.14704 11.0907 2.46566 12.4093C3.78427 13.728 5.5727 14.4688 7.4375 14.4688Z"
          fill="#198754"></path>
      </svg>
    </div>
  </div>

  <div class="employee-card__info">
    <p>Константин Константинопальский</p>
    <span>{position}</span>
  </div>

  <div class="employee-card__btn">
    <svg
      width="17"
      height="16"
      viewBox="0 0 17 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M9.42995 6.588L7.13995 6.875L7.05795 7.255L7.50795 7.338C7.80195 7.408 7.85995 7.514 7.79595 7.807L7.05795 11.275C6.86395 12.172 7.16295 12.594 7.86595 12.594C8.41095 12.594 9.04395 12.342 9.33095 11.996L9.41895 11.58C9.21895 11.756 8.92695 11.826 8.73295 11.826C8.45795 11.826 8.35795 11.633 8.42895 11.293L9.42995 6.588ZM9.49995 4.5C9.49995 4.76522 9.3946 5.01957 9.20706 5.20711C9.01952 5.39464 8.76517 5.5 8.49995 5.5C8.23474 5.5 7.98038 5.39464 7.79285 5.20711C7.60531 5.01957 7.49995 4.76522 7.49995 4.5C7.49995 4.23478 7.60531 3.98043 7.79285 3.79289C7.98038 3.60536 8.23474 3.5 8.49995 3.5C8.76517 3.5 9.01952 3.60536 9.20706 3.79289C9.3946 3.98043 9.49995 4.23478 9.49995 4.5Z"
        fill="#141619"></path>
    </svg>
  </div>
</a>

<style lang="scss">
  .grayClass {
    border-color: #f3f5fb !important;
    background-color: #f3f5fb;
  }

  .employee-card:not(.grayClass) {
    border-color: #ccd3e7;
  }

  .employee-card {
    border: 2px solid;
    border-radius: 30px;
    display: flex;
    gap: 15px;
    align-items: flex-start;
    text-decoration: none;
    width: fit-content;
    padding: 10px 15px 15px 10px;

    &__avatar {
      position: relative;

      img {
        border-radius: 50%;
      }
    }

    &__avatar-after-element {
      position: absolute;
      top: 0;
      right: 0;
      width: 15px;
      height: 15px;
      display: flex;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 2px;
      width: 210px;

      p {
        color: #212529;
        font-size: 16px;
        font-weight: 500;
        white-space: pre-line;
      }

      span {
        color: #7f8ebe;
        font-size: 14px;
        font-weight: 500;
      }
    }

    &__btn {
      background-color: #ccd3e7;
      width: 31px;
      min-width: 31px;
      height: 31px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
    }
  }
</style>
