---
import WhiteBlockSubdivisionAvatar from '@components/pages/myPage/myPage1/whiteBlocks/whiteBlockSubdivision/WhiteBlockSubdivisionAvatar.astro';
---

<div class="row justify-content-between">
  <div class="col-md-5">
    <h4 class="subdivision-title">Мое подразделение</h4>
  </div>

  <div class="col-md-6">
    <div class="subdivision-content">
      <WhiteBlockSubdivisionAvatar />
      <WhiteBlockSubdivisionAvatar />
      <WhiteBlockSubdivisionAvatar />
      <WhiteBlockSubdivisionAvatar />
      <WhiteBlockSubdivisionAvatar />
      <WhiteBlockSubdivisionAvatar />
      <WhiteBlockSubdivisionAvatar />

      <span class="subdivision-content__count-block">+14</span>
    </div>
  </div>
</div>

<style lang="scss">
  .subdivision-title {
    line-height: 100%;
    color: #212529;
    font-size: 24px;
    font-weight: 500;
  }

  .subdivision-content {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    &__count-block {
      width: 64px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FECBA1;
      color: #CA6510;
      font-size: 20px;
      font-weight: 500;
      border-radius: 50%;
      cursor: pointer;
    }
  }
</style>
