---
import './index.scss';

import { Image } from 'astro:assets';

import subdivisionAvatar from '@assets/pages/myPage/subdivisionAvatar.png';
---

<a href="#" class="subdivision-avatar">
  <Image src={subdivisionAvatar} width="64" height="64" alt="Аватар" />
</a>
