.company-group-card {
  padding: 24px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
  display: block;
  height: 100%;

  &__label {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
  }

  &__arrow {
    display: block;
    margin-top: 45px;
  }
}
