---
import './_index.scss';

import Container from '@layouts/Container/index.astro';

import SideMenu from '@components/pages/analytics/analytics5/SideMenu/index.astro';
import BigImgBlock from '@components/pages/analytics/BigImgBlock/index.astro';
import Card from '@components/pages/analytics/analytics5/Card/index.astro';
import Star from '@components/common/Star/index.astro';
import mainImg from '@assets/pages/analytics/main-img-5.png';
---

<body>
  <Container isWhiteBgSearch>
    <main>
      <div class="analytics-page">
        <div class="row justify-content-between">
          <div class="col-md-3">
            <SideMenu />
          </div>

          <div class="col-md-9">
            <div class="analytics-page__star">
              <Star />
            </div>

            <BigImgBlock img={mainImg.src} label="NPS" />

            <div class="row gy-4 analytics-page__cards">
              <Card text="NPS 2023 70%" />
              <Card text="CSI и NPS (банк)" />
              <Card text="NPS 2022 78%" />
              <Card text="NPS 2020 80%" />
              <Card text="CSI и NPS (банк)" />
              <Card text="NPS 2022 78%" />
              <Card text="NPS 2020 80%" />
              <Card text="CSI и NPS (банк)" />
              <Card text="NPS 2022 78%" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </Container>
</body>
