body {
  background-color: #f3f5fb;
}

.main-page {
  margin-top: 50px;

  .media-reports {
    &__breadcrumbs-and-star {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
    
    &__content {
      &__header {
        margin-top: 25px;

        h2 {
          font-size: 32px;
          font-weight: 500;
          line-height: 38px;
        }
      }

      &__documents {
        margin-top: 43px;
      }
    }
  }
}
