body {
  background-color: #f3f5fb;
}

.main-page {
  margin-top: 50px;

  .media-reports {
    &__content {
      &__header {
        margin-top: 25px;
        
        h2 {
          font-size: 32px;
          font-weight: 500;
          line-height: 38px;
        }
      }

      &__documents {
        margin-top: 43px;
      }
    }
  }
}
