---
import './_index.scss';

const { changeStatus } = Astro.props;

import CardOverlay from '@components/pages/main/rightContentBlocks/CardOverlay/index.astro';
---

<div
  class={`row justify-content-between gy-2 dynamic-card-row ${changeStatus ? 'cards-with-animation' : ''}`}
  id={`${changeStatus ? 'sortable-cards' : ''}`}
>
  <div class="col-md-12 col-xl-6 gx-2 card-with-overlay">
    <a href='#' class="card-with-icon-and-label">
      {changeStatus && <CardOverlay withDelete/>}

      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1767_2617)">
          <path
            d="M8 1.783C7.015 0.936003 5.587 0.810003 4.287 0.940003C2.773 1.093 1.245 1.612 0.293 2.045C0.205649 2.08473 0.131575 2.14876 0.079621 2.22944C0.0276667 2.31012 2.65714e-05 2.40404 0 2.5L0 13.5C2.3162e-05 13.5837 0.0210371 13.666 0.0611171 13.7394C0.101197 13.8128 0.159062 13.875 0.229411 13.9203C0.29976 13.9656 0.380345 13.9925 0.463783 13.9986C0.547222 14.0046 0.630848 13.9896 0.707 13.955C1.589 13.555 3.01 13.074 4.387 12.935C5.796 12.793 6.977 13.022 7.61 13.812C7.65685 13.8704 7.71622 13.9175 7.78372 13.9499C7.85122 13.9823 7.92513 13.9991 8 13.9991C8.07487 13.9991 8.14878 13.9823 8.21628 13.9499C8.28378 13.9175 8.34315 13.8704 8.39 13.812C9.023 13.022 10.204 12.793 11.612 12.935C12.99 13.074 14.412 13.555 15.293 13.955C15.3692 13.9896 15.4528 14.0046 15.5362 13.9986C15.6197 13.9925 15.7002 13.9656 15.7706 13.9203C15.8409 13.875 15.8988 13.8128 15.9389 13.7394C15.979 13.666 16 13.5837 16 13.5V2.5C16 2.40404 15.9723 2.31012 15.9204 2.22944C15.8684 2.14876 15.7944 2.08473 15.707 2.045C14.755 1.612 13.227 1.093 11.713 0.940003C10.413 0.809003 8.985 0.936003 8 1.783Z"
            fill="#A6B1D2"></path>
        </g>
        <defs>
          <clipPath id="clip0_1767_2617">
            <rect width="16" height="16" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>

      <div class="card-with-icon-and-label__label">База знаний</div>
    </a>
  </div>

  <div class="col-md-12 col-xl-6 gx-2 card-with-overlay">
    <a href='#' class="card-with-icon-and-label">
      {changeStatus && <CardOverlay withDelete/>}

      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1767_2621)">
          <path
            d="M6.5 0.5C6.10218 0.5 5.72064 0.658035 5.43934 0.93934C5.15804 1.22064 5 1.60218 5 2V3C5 3.39782 5.15804 3.77936 5.43934 4.06066C5.72064 4.34196 6.10218 4.5 6.5 4.5H9.5C9.89782 4.5 10.2794 4.34196 10.5607 4.06066C10.842 3.77936 11 3.39782 11 3V2C11 1.60218 10.842 1.22064 10.5607 0.93934C10.2794 0.658035 9.89782 0.5 9.5 0.5H6.5Z"
            fill="#A6B1D2"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M3 2C1.89543 2 1 2.89543 1 4V14.5C1 15.6046 1.89543 16.5 3 16.5H13C14.1046 16.5 15 15.6046 15 14.5V4C15 2.89543 14.1046 2 13 2H12.5C11.9477 2 11.5 2.44772 11.5 3C11.5 4.10457 10.6046 5 9.5 5H6.5C5.39543 5 4.5 4.10457 4.5 3C4.5 2.44772 4.05228 2 3.5 2H3ZM11.9445 7.46368C11.9078 7.37261 11.8541 7.28988 11.7864 7.22024C11.7189 7.15043 11.6386 7.09504 11.5503 7.05725C11.462 7.01945 11.3673 7 11.2716 7C11.176 7 11.0813 7.01945 10.993 7.05725C10.9046 7.09504 10.8244 7.15043 10.7569 7.22024L6.9092 11.189L5.24276 9.46924C5.17516 9.39954 5.0949 9.34425 5.00658 9.30652C4.91826 9.2688 4.82359 9.24939 4.72799 9.24939C4.53491 9.24939 4.34975 9.32847 4.21322 9.46924C4.14562 9.53894 4.092 9.62168 4.05541 9.71275C4.01883 9.80382 4 9.90143 4 10C4 10.0986 4.01883 10.1962 4.05541 10.2872C4.092 10.3783 4.14562 10.4611 4.21322 10.5308L6.39444 12.7798C6.46198 12.8496 6.54221 12.905 6.63054 12.9428C6.71887 12.9805 6.81357 13 6.9092 13C7.00484 13 7.09953 12.9805 7.18787 12.9428C7.2762 12.905 7.35643 12.8496 7.42397 12.7798L11.7864 8.28177C11.8541 8.21213 11.9078 8.1294 11.9445 8.03833C11.9811 7.94725 12 7.84961 12 7.751C12 7.6524 11.9811 7.55476 11.9445 7.46368Z"
            fill="#A6B1D2"></path>
        </g>
        <defs>
          <clipPath id="clip0_1767_2621">
            <rect
              width="16"
              height="16"
              fill="white"
              transform="translate(0 0.5)"></rect>
          </clipPath>
        </defs>
      </svg>

      <div class="card-with-icon-and-label__label">Заявки</div>
    </a>
  </div>

  <div class="col-md-12 col-xl-6 gx-2 card-with-overlay">
    <a href='#' class="card-with-icon-and-label">
      {changeStatus && <CardOverlay withDelete/>}

      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.14668 1.39146C2.9269 1.17441 2.57351 1.17425 2.35352 1.39108C2.12922 1.61217 2.12914 1.97401 2.35333 2.1952L2.74628 2.58288C2.96615 2.7998 3.31953 2.79976 3.53935 2.58279C3.76325 2.36178 3.76329 2.00039 3.53944 1.77933L3.14668 1.39146ZM13.6468 1.39169C13.427 1.17455 13.0735 1.17445 12.8535 1.39145L12.4606 1.77914C12.2365 2.00025 12.2365 2.36194 12.4606 2.58302C12.6805 2.79989 13.0338 2.79987 13.2536 2.58297L13.6466 2.19529C13.8706 1.97429 13.8707 1.61282 13.6468 1.39169ZM8 1.35196C7.81143 1.35347 7.62095 1.3655 7.42857 1.38806H7.41143C5.09371 1.65034 3.24914 3.49871 2.92857 5.77631C2.67257 7.60945 3.43829 9.27168 4.71429 10.3422C5.23616 10.782 5.71429 11.4868 5.71429 12.0513C5.71429 12.4312 5.71429 13.833 5.71429 14.7088C5.71429 15.1106 6.04003 15.4355 6.44185 15.4355C6.69922 15.4355 6.93339 15.5841 7.14562 15.7298C7.39095 15.8981 7.71824 16 8 16C8.28176 16 8.60905 15.8981 8.85438 15.7298C9.06661 15.5841 9.30078 15.4355 9.55815 15.4355C9.95998 15.4355 10.2857 15.1106 10.2857 14.7088C10.2857 13.8328 10.2857 12.4307 10.2857 12.0513C10.2857 11.4877 10.7749 10.8487 11.4823 10.2007C12.4286 9.26548 13.1429 7.93716 13.1429 6.41142C13.1429 3.62505 10.8194 1.32602 8 1.35196ZM0.564042 6.41142C0.25253 6.41142 0 6.66395 0 6.97546C0 7.28698 0.25253 7.53951 0.564042 7.53951H1.15024C1.46176 7.53951 1.71429 7.28698 1.71429 6.97546C1.71429 6.66395 1.46176 6.41142 1.15024 6.41142H0.564042ZM14.8498 6.41142C14.5382 6.41142 14.2857 6.66395 14.2857 6.97546C14.2857 7.28698 14.5382 7.53951 14.8498 7.53951H15.436C15.7475 7.53951 16 7.28698 16 6.97546C16 6.66395 15.7475 6.41142 15.436 6.41142H14.8498ZM3.53925 11.3683C3.31951 11.1513 2.9661 11.1512 2.74623 11.3681L2.35356 11.7555C2.12951 11.9766 2.12947 12.3381 2.35347 12.5592C2.57342 12.7764 2.92706 12.7763 3.14692 12.5591L3.5393 12.1714C3.76295 11.9504 3.76293 11.5893 3.53925 11.3683ZM13.2537 11.368C13.0339 11.1511 12.6805 11.1512 12.4607 11.3681C12.2368 11.5892 12.2367 11.9505 12.4606 12.1716L12.853 12.5592C13.0729 12.7763 13.4265 12.7764 13.6465 12.5593C13.8705 12.3382 13.8705 11.9765 13.6464 11.7555L13.2537 11.368ZM6.85714 13.744C6.85714 13.4325 7.10967 13.1799 7.42119 13.1799H8.57882C8.89033 13.1799 9.14286 13.4325 9.14286 13.744C9.14286 14.0555 8.89033 14.308 8.57882 14.308H7.42119C7.10967 14.308 6.85714 14.0555 6.85714 13.744Z"
          fill="#A6B1D2"></path>
      </svg>

      <div class="card-with-icon-and-label__label">Идея 2.0</div>
    </a>
  </div>

  <div class="col-md-12 col-xl-6 gx-2 card-with-overlay">
    <a href='#' class="card-with-icon-and-label">
      {changeStatus && <CardOverlay withDelete/>}

      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1767_2634)">
          <rect
            width="16"
            height="16"
            transform="translate(0 0.5)"
            fill="white"
            fill-opacity="0.01"></rect>
          <path
            d="M2.00195 2.50073C2.00195 1.9703 2.21267 1.46159 2.58774 1.08652C2.96281 0.711446 3.47152 0.500732 4.00195 0.500732H12.002C12.5324 0.500732 13.0411 0.711446 13.4162 1.08652C13.7912 1.46159 14.002 1.9703 14.002 2.50073V14.5007C14.002 15.0312 13.7912 15.5399 13.4162 15.9149C13.0411 16.29 12.5324 16.5007 12.002 16.5007H4.00195C3.47152 16.5007 2.96281 16.29 2.58774 15.9149C2.21267 15.5399 2.00195 15.0312 2.00195 14.5007V2.50073ZM6.50195 2.50073C6.36934 2.50073 6.24217 2.55341 6.1484 2.64718C6.05463 2.74095 6.00195 2.86812 6.00195 3.00073C6.00195 3.13334 6.05463 3.26052 6.1484 3.35429C6.24217 3.44805 6.36934 3.50073 6.50195 3.50073H9.50195C9.63456 3.50073 9.76174 3.44805 9.85551 3.35429C9.94928 3.26052 10.002 3.13334 10.002 3.00073C10.002 2.86812 9.94928 2.74095 9.85551 2.64718C9.76174 2.55341 9.63456 2.50073 9.50195 2.50073H6.50195ZM8.00195 11.5007C8.7976 11.5007 9.56066 11.1847 10.1233 10.6221C10.6859 10.0594 11.002 9.29638 11.002 8.50073C11.002 7.70508 10.6859 6.94202 10.1233 6.37941C9.56066 5.8168 8.7976 5.50073 8.00195 5.50073C7.2063 5.50073 6.44324 5.8168 5.88063 6.37941C5.31802 6.94202 5.00195 7.70508 5.00195 8.50073C5.00195 9.29638 5.31802 10.0594 5.88063 10.6221C6.44324 11.1847 7.2063 11.5007 8.00195 11.5007V11.5007ZM13.002 14.2557C12.148 13.3257 10.625 12.5007 8.00195 12.5007C5.37895 12.5007 3.85595 13.3267 3.00195 14.2557V14.5007C3.00195 14.7659 3.10731 15.0203 3.29485 15.2078C3.48238 15.3954 3.73674 15.5007 4.00195 15.5007H12.002C12.2672 15.5007 12.5215 15.3954 12.7091 15.2078C12.8966 15.0203 13.002 14.7659 13.002 14.5007V14.2557V14.2557Z"
            fill="#A6B1D2"></path>
        </g>
        <defs>
          <clipPath id="clip0_1767_2634">
            <rect
              width="16"
              height="16"
              fill="white"
              transform="translate(0 0.5)"></rect>
          </clipPath>
        </defs>
      </svg>

      <div class="card-with-icon-and-label__label">HR</div>
    </a>
  </div>

  <div class="col-md-12 col-xl-6 gx-2 card-with-overlay">
    <a href='#' class="card-with-icon-and-label">
      {changeStatus && <CardOverlay withDelete/>}

      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M2.14645 3.85355C2.05268 3.75979 2 3.63261 2 3.5C2 3.36739 2.05268 3.24021 2.14645 3.14645C2.24021 3.05268 2.36739 3 2.5 3H13.5C13.6326 3 13.7598 3.05268 13.8536 3.14645C13.9473 3.24021 14 3.36739 14 3.5C14 3.63261 13.9473 3.75979 13.8536 3.85355C13.7598 3.94732 13.6326 4 13.5 4H2.5C2.36739 4 2.24021 3.94732 2.14645 3.85355ZM4.14645 1.85355C4.05268 1.75979 4 1.63261 4 1.5C4 1.36739 4.05268 1.24021 4.14645 1.14645C4.24021 1.05268 4.36739 1 4.5 1H11.5C11.6326 1 11.7598 1.05268 11.8536 1.14645C11.9473 1.24021 12 1.36739 12 1.5C12 1.63261 11.9473 1.75979 11.8536 1.85355C11.7598 1.94732 11.6326 2 11.5 2H4.5C4.36739 2 4.24021 1.94732 4.14645 1.85355ZM0.43934 14.5607C0.720644 14.842 1.10218 15 1.5 15H14.5C14.8978 15 15.2794 14.842 15.5607 14.5607C15.842 14.2794 16 13.8978 16 13.5V6.5C16 6.10218 15.842 5.72064 15.5607 5.43934C15.2794 5.15804 14.8978 5 14.5 5H1.5C1.10218 5 0.720644 5.15804 0.43934 5.43934C0.158035 5.72064 0 6.10218 0 6.5V13.5C0 13.8978 0.158035 14.2794 0.43934 14.5607ZM6.765 7.076C6.68931 7.0287 6.60235 7.00251 6.51312 7.00017C6.4239 6.99783 6.33568 7.01941 6.25762 7.06268C6.17955 7.10595 6.11449 7.16932 6.06919 7.24622C6.02389 7.32312 6 7.41075 6 7.5V12.5C6 12.5893 6.02389 12.6769 6.06919 12.7538C6.11449 12.8307 6.17955 12.8941 6.25762 12.9373C6.33568 12.9806 6.4239 13.0022 6.51312 12.9998C6.60235 12.9975 6.68931 12.9713 6.765 12.924L10.765 10.424C10.8369 10.3791 10.8962 10.3166 10.9373 10.2424C10.9784 10.1682 11 10.0848 11 10C11 9.9152 10.9784 9.83179 10.9373 9.75762C10.8962 9.68344 10.8369 9.62095 10.765 9.576L6.765 7.076Z"
          fill="#A6B1D2"></path>
      </svg>

      <div class="card-with-icon-and-label__label">Медиа</div>
    </a>
  </div>

  <div class="col-md-12 col-xl-6 gx-2 card-with-overlay">
    <a href='#' class="card-with-icon-and-label">
      {changeStatus && <CardOverlay withDelete/>}

      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1767_2645)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13.6569 14.1569C12.1566 15.6571 10.1217 16.5 8 16.5C5.87827 16.5 3.84344 15.6571 2.34315 14.1569C0.842855 12.6566 0 10.6217 0 8.5C0 6.37827 0.842855 4.34344 2.34315 2.84315C3.84344 1.34285 5.87827 0.5 8 0.5C10.1217 0.5 12.1566 1.34285 13.6569 2.84315C15.1571 4.34344 16 6.37827 16 8.5C16 10.6217 15.1571 12.6566 13.6569 14.1569ZM4.66454 10.0171C4.53646 9.98273 4.39998 10.0007 4.28514 10.067C4.17031 10.1333 4.08651 10.2425 4.05219 10.3706C4.01787 10.4987 4.03584 10.6352 4.10214 10.75C4.49702 11.4344 5.0652 12.0026 5.74949 12.3976C6.43378 12.7926 7.21004 13.0004 8.00014 13C8.79025 13.0004 9.56651 12.7926 10.2508 12.3976C10.9351 12.0026 11.5033 11.4344 11.8981 10.75C11.9315 10.6931 11.9533 10.6302 11.9622 10.5649C11.9711 10.4995 11.967 10.4331 11.9502 10.3693C11.9333 10.3056 11.904 10.2458 11.864 10.1934C11.8239 10.141 11.7739 10.0971 11.7168 10.0641C11.6597 10.0311 11.5966 10.0098 11.5312 10.0013C11.4659 9.9928 11.3994 9.99732 11.3358 10.0146C11.2722 10.0319 11.2126 10.0616 11.1605 10.102C11.1083 10.1424 11.0647 10.1927 11.0321 10.25C10.725 10.7823 10.2831 11.2244 9.75081 11.5316C9.21854 11.8388 8.61472 12.0004 8.00014 12C7.38557 12.0004 6.78175 11.8388 6.24947 11.5316C5.71719 11.2244 5.27525 10.7823 4.96814 10.25C4.90184 10.1352 4.79263 10.0514 4.66454 10.0171ZM6.00014 8.5C6.55214 8.5 7.00014 7.828 7.00014 7C7.00014 6.172 6.55214 5.5 6.00014 5.5C5.44814 5.5 5.00014 6.172 5.00014 7C5.00014 7.828 5.44814 8.5 6.00014 8.5ZM10.0001 8.5C10.5521 8.5 11.0001 7.828 11.0001 7C11.0001 6.172 10.5521 5.5 10.0001 5.5C9.44814 5.5 9.00014 6.172 9.00014 7C9.00014 7.828 9.44814 8.5 10.0001 8.5Z"
            fill="#A6B1D2"></path>
        </g>
        <defs>
          <clipPath id="clip0_1767_2645">
            <rect
              width="16"
              height="16"
              fill="white"
              transform="translate(0 0.5)"></rect>
          </clipPath>
        </defs>
      </svg>

      <div class="card-with-icon-and-label__label">Благодарю</div>
    </a>
  </div>

  <div class="col-md-12 col-xl-6 gx-2 card-with-overlay">
    <a href='#' class="card-with-icon-and-label">
      {changeStatus && <CardOverlay withDelete/>}

      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1767_2652)">
          <path
            d="M8.277 0.584077C8.19494 0.52947 8.09857 0.500336 8 0.500336C7.90143 0.500336 7.80506 0.52947 7.723 0.584077L0.223 5.58408C0.133747 5.64359 0.0660011 5.73023 0.0297692 5.8312C-0.00646277 5.93218 -0.00925954 6.04212 0.021792 6.14481C0.0528435 6.24749 0.116097 6.33746 0.202209 6.40144C0.28832 6.46541 0.392725 6.49999 0.5 6.50008H2.375V13.5001H1.5C1.36739 13.5001 1.24021 13.5528 1.14645 13.6465C1.05268 13.7403 1 13.8675 1 14.0001C1 14.1327 1.05268 14.2599 1.14645 14.3536C1.24021 14.4474 1.36739 14.5001 1.5 14.5001H14.5C14.6326 14.5001 14.7598 14.4474 14.8536 14.3536C14.9473 14.2599 15 14.1327 15 14.0001C15 13.8675 14.9473 13.7403 14.8536 13.6465C14.7598 13.5528 14.6326 13.5001 14.5 13.5001H13.625V6.50008H15.5C15.6073 6.49999 15.7117 6.46541 15.7978 6.40144C15.8839 6.33746 15.9472 6.24749 15.9782 6.14481C16.0093 6.04212 16.0065 5.93218 15.9702 5.8312C15.934 5.73023 15.8663 5.64359 15.777 5.58408L8.277 0.584077ZM11.25 6.50008V13.5001H10V6.50008H11.25ZM6 6.50008V13.5001H4.75V6.50008H6ZM8 4.50008C7.73478 4.50008 7.48043 4.39472 7.29289 4.20718C7.10536 4.01965 7 3.76529 7 3.50008C7 3.23486 7.10536 2.98051 7.29289 2.79297C7.48043 2.60543 7.73478 2.50008 8 2.50008C8.26522 2.50008 8.51957 2.60543 8.70711 2.79297C8.89464 2.98051 9 3.23486 9 3.50008C9 3.76529 8.89464 4.01965 8.70711 4.20718C8.51957 4.39472 8.26522 4.50008 8 4.50008ZM0.5 14.5001C0.367392 14.5001 0.240215 14.5528 0.146447 14.6465C0.0526784 14.7403 0 15.0003 0 15.5003C0 16.0003 0.0526784 16.2599 0.146447 16.3536C0.240215 16.4474 0.367392 16.5001 0.5 16.5001H15.5C15.6326 16.5001 15.7598 16.4474 15.8536 16.3536C15.9473 16.2599 16 16.0003 16 15.5003C16 15.0003 15.9473 14.7403 15.8536 14.6465C15.7598 14.5528 15.6326 14.5001 15.5 14.5001H0.5Z"
            fill="#A6B1D2"></path>
        </g>
        <defs>
          <clipPath id="clip0_1767_2652">
            <rect
              width="16"
              height="16"
              fill="white"
              transform="translate(0 0.5)"></rect>
          </clipPath>
        </defs>
      </svg>

      <div class="card-with-icon-and-label__label">О компании</div>
    </a>
  </div>

  <div class="col-md-12 col-xl-6 gx-2 card-with-overlay">
    <a href='#' class="card-with-icon-and-label">
      {changeStatus && <CardOverlay withDelete/>}

      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1767_2657)">
          <path
            d="M6.5 0.5C6.10218 0.5 5.72064 0.658035 5.43934 0.93934C5.15804 1.22064 5 1.60218 5 2V3C5 3.39782 5.15804 3.77936 5.43934 4.06066C5.72064 4.34196 6.10218 4.5 6.5 4.5H9.5C9.89782 4.5 10.2794 4.34196 10.5607 4.06066C10.842 3.77936 11 3.39782 11 3V2C11 1.60218 10.842 1.22064 10.5607 0.93934C10.2794 0.658035 9.89782 0.5 9.5 0.5H6.5Z"
            fill="#A6B1D2"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M3 2C1.89543 2 1 2.89543 1 4V14.5C1 15.6046 1.89543 16.5 3 16.5H13C14.1046 16.5 15 15.6046 15 14.5V4C15 2.89543 14.1046 2 13 2H12.5C11.9477 2 11.5 2.44772 11.5 3C11.5 4.10457 10.6046 5 9.5 5H6.5C5.39543 5 4.5 4.10457 4.5 3C4.5 2.44772 4.05228 2 3.5 2H3ZM4.29289 10.7929C4.10536 10.9804 4 11.2348 4 11.5V12.5C4 12.7652 4.10536 13.0196 4.29289 13.2071C4.48043 13.3946 4.73478 13.5 5 13.5C5.26522 13.5 5.51957 13.3946 5.70711 13.2071C5.89464 13.0196 6 12.7652 6 12.5V11.5C6 11.2348 5.89464 10.9804 5.70711 10.7929C5.51957 10.6054 5.26522 10.5 5 10.5C4.73478 10.5 4.48043 10.6054 4.29289 10.7929ZM10.2929 6.79289C10.1054 6.98043 10 7.23478 10 7.5V12.5C10 12.7652 10.1054 13.0196 10.2929 13.2071C10.4804 13.3946 10.7348 13.5 11 13.5C11.2652 13.5 11.5196 13.3946 11.7071 13.2071C11.8946 13.0196 12 12.7652 12 12.5V7.5C12 7.23478 11.8946 6.98043 11.7071 6.79289C11.5196 6.60536 11.2652 6.5 11 6.5C10.7348 6.5 10.4804 6.60536 10.2929 6.79289ZM7.29289 8.79289C7.10536 8.98043 7 9.23478 7 9.5V12.5C7 12.7652 7.10536 13.0196 7.29289 13.2071C7.48043 13.3946 7.73478 13.5 8 13.5C8.26522 13.5 8.51957 13.3946 8.70711 13.2071C8.89464 13.0196 9 12.7652 9 12.5V9.5C9 9.23478 8.89464 8.98043 8.70711 8.79289C8.51957 8.60536 8.26522 8.5 8 8.5C7.73478 8.5 7.48043 8.60536 7.29289 8.79289Z"
            fill="#A6B1D2"></path>
        </g>
        <defs>
          <clipPath id="clip0_1767_2657">
            <rect
              width="16"
              height="16"
              fill="white"
              transform="translate(0 0.5)"></rect>
          </clipPath>
        </defs>
      </svg>

      <div class="card-with-icon-and-label__label">Аналитика</div>
    </a>
  </div>

  <div class="col-md-12 col-xl-6 gx-2 card-with-overlay">
    <a href='#' class="card-with-icon-and-label">
      {changeStatus && <CardOverlay withDelete />}

      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1767_2665)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.86699 1.83301H10.1337C11.2538 1.83301 11.8138 1.83301 12.2416 2.05099C12.618 2.24274 12.9239 2.5487 13.1157 2.92503C13.3337 3.35285 13.3337 3.9129 13.3337 5.03301V11.9005C13.3337 13.1011 12.3604 14.0743 11.1598 14.0743C11.1598 14.1598 11.1598 14.2025 11.1572 14.2386C11.1214 14.7339 10.7274 15.1279 10.232 15.1637C10.196 15.1663 10.1533 15.1663 10.0678 15.1663H6.5H5.86699C4.74689 15.1663 4.18683 15.1663 3.75901 14.9484C3.38269 14.7566 3.07673 14.4506 2.88498 14.0743C2.66699 13.6465 2.66699 13.0864 2.66699 11.9663V5.03301C2.66699 3.9129 2.66699 3.35285 2.88498 2.92503C3.07673 2.5487 3.38269 2.24274 3.75901 2.05099C4.18683 1.83301 4.74689 1.83301 5.86699 1.83301ZM5.33398 4.66602C5.05784 4.66602 4.83398 4.88987 4.83398 5.16602C4.83398 5.44216 5.05784 5.66602 5.33398 5.66602H10.6673C10.9435 5.66602 11.1673 5.44216 11.1673 5.16602C11.1673 4.88987 10.9435 4.66602 10.6673 4.66602H5.33398ZM5.33398 7.33268C5.05784 7.33268 4.83398 7.55654 4.83398 7.83268C4.83398 8.10882 5.05784 8.33268 5.33398 8.33268H9.33398C9.61013 8.33268 9.83398 8.10882 9.83398 7.83268C9.83398 7.55654 9.61013 7.33268 9.33398 7.33268H5.33398ZM5.33398 9.99935C5.05784 9.99935 4.83398 10.2232 4.83398 10.4993C4.83398 10.7755 5.05784 10.9993 5.33398 10.9993H6.66732C6.94346 10.9993 7.16732 10.7755 7.16732 10.4993C7.16732 10.2232 6.94346 9.99935 6.66732 9.99935H5.33398Z"
            fill="#A6B1D2"></path>
          <path
            d="M7.84738 14.5123L8.19221 14.1503L7.84738 14.5123L9.59738 16.179C10.0468 16.607 10.7657 16.607 11.2151 16.179L15.1526 12.429C15.6158 11.9879 15.6158 11.2621 15.1526 10.821C14.7032 10.393 13.9843 10.393 13.5349 10.821L10.4063 13.8006L9.46512 12.9043C9.01573 12.4763 8.29677 12.4763 7.84738 12.9043C7.38421 13.3454 7.38421 14.0712 7.84738 14.5123Z"
            fill="#A6B1D2"
            stroke="white"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g>
        <defs>
          <clipPath id="clip0_1767_2665">
            <rect
              width="16"
              height="16"
              fill="white"
              transform="translate(0 0.5)"></rect>
          </clipPath>
        </defs>
      </svg>

      <div class="card-with-icon-and-label__label">Вопрос-ответ</div>
    </a>
  </div>

  <div class="col-md-12 col-xl-6 gx-2 card-with-overlay">
    <a href='#' class="card-with-icon-and-label">
      {changeStatus && <CardOverlay withDelete />}

      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1767_2672)">
          <path
            d="M9.85355 0.646447C9.94732 0.740215 10 0.867392 10 1C10 1.13261 10.0527 1.25979 10.1464 1.35355C10.2402 1.44732 10.3674 1.5 10.5 1.5C10.6326 1.5 10.7598 1.55268 10.8536 1.64645C10.9473 1.74021 11 1.86739 11 2V2.5C11 2.63261 10.9473 2.75979 10.8536 2.85355C10.7598 2.94732 10.6326 3 10.5 3H5.5C5.36739 3 5.24021 2.94732 5.14645 2.85355C5.05268 2.75979 5 2.63261 5 2.5V2C5 1.86739 5.05268 1.74021 5.14645 1.64645C5.24021 1.55268 5.36739 1.5 5.5 1.5C5.63261 1.5 5.75979 1.44732 5.85355 1.35355C5.94732 1.25979 6 1.13261 6 1C6 0.867392 6.05268 0.740215 6.14645 0.646447C6.24021 0.552678 6.36739 0.5 6.5 0.5H9.5C9.63261 0.5 9.75979 0.552678 9.85355 0.646447Z"
            fill="#A6B1D2"></path>
          <path
            d="M1 4C1 2.89543 1.89543 2 3 2H4C4.27614 2 4.5 2.22386 4.5 2.5C4.5 3.05228 4.94772 3.5 5.5 3.5H10.5C11.0523 3.5 11.5 3.05228 11.5 2.5C11.5 2.22386 11.7239 2 12 2H13C14.1046 2 15 2.89543 15 4V14C15 15.1046 14.1046 16 13 16H3C1.89543 16 1 15.1046 1 14V4Z"
            fill="#A6B1D2"></path>
        </g>
        <defs>
          <clipPath id="clip0_1767_2672">
            <rect
              width="16"
              height="16"
              fill="white"
              transform="translate(0 0.5)"></rect>
          </clipPath>
        </defs>
      </svg>

      <div class="card-with-icon-and-label__label">Опросы</div>
    </a>
  </div>

  <div class="col-md-12 col-xl-6 gx-2 card-with-overlay">
    <a href='#' class="card-with-icon-and-label">
      {changeStatus && <CardOverlay withDelete />}

      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1767_2678)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0.439343 1.93934C0.158038 2.22064 3.00629e-06 2.60218 3.00629e-06 3V14C-0.000391466 14.1968 0.0380385 14.3918 0.113093 14.5738C0.188148 14.7558 0.298354 14.9212 0.437402 15.0605C0.576451 15.1998 0.741612 15.3103 0.923432 15.3858C1.10525 15.4612 1.30016 15.5 1.497 15.5H14.5C14.8978 15.5 15.2794 15.342 15.5607 15.0607C15.842 14.7794 16 14.3978 16 14V5C16 4.86739 15.9473 4.74021 15.8536 4.64645C15.7598 4.55268 15.6326 4.5 15.5 4.5C15.3674 4.5 15.2402 4.55268 15.1464 4.64645C15.0527 4.74021 15 4.86739 15 5V14C15 14.1326 14.9473 14.2598 14.8536 14.3536C14.7598 14.4473 14.6326 14.5 14.5 14.5H13.762C13.95 14.182 14 13.828 14 13.528V3C14 2.60218 13.842 2.22064 13.5607 1.93934C13.2794 1.65804 12.8978 1.5 12.5 1.5H1.5C1.10218 1.5 0.720647 1.65804 0.439343 1.93934ZM12 3.5H2V5.5H12V3.5ZM6 6.5H2V9.5H6V6.5ZM6 10.5H2V11.5H6V10.5ZM6 12.5H2V13.5H6V12.5ZM9 6.5H7V7.5H9V6.5ZM12 6.5H10V7.5H12V6.5ZM9 8.5H7V9.5H9V8.5ZM12 8.5H10V9.5H12V8.5ZM9 10.5H7V11.5H9V10.5ZM12 10.5H10V11.5H12V10.5ZM9 12.5H7V13.5H9V12.5ZM12 12.5H10V13.5H12V12.5Z"
            fill="#A6B1D2"></path>
        </g>
        <defs>
          <clipPath id="clip0_1767_2678">
            <rect
              width="16"
              height="16"
              fill="white"
              transform="translate(0 0.5)"></rect>
          </clipPath>
        </defs>
      </svg>

      <div class="card-with-icon-and-label__label">Новости</div>
    </a>
  </div>

  <div class="col-md-12 col-xl-6 gx-2 card-with-overlay">
    <a href='#' class="card-with-icon-and-label">
      {changeStatus && <CardOverlay withDelete />}

      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4.50195 9.5C4.89978 9.5 5.28131 9.34196 5.56261 9.06066C5.84392 8.77936 6.00195 8.39782 6.00195 8C6.00195 7.60218 5.84392 7.22064 5.56261 6.93934C5.28131 6.65804 4.89978 6.5 4.50195 6.5C4.10413 6.5 3.7226 6.65804 3.44129 6.93934C3.15999 7.22064 3.00195 7.60218 3.00195 8C3.00195 8.39782 3.15999 8.77936 3.44129 9.06066C3.7226 9.34196 4.10413 9.5 4.50195 9.5Z"
          fill="#A6B1D2"></path>
        <path
          d="M14.002 13.5C14.002 14.0304 13.7912 14.5391 13.4162 14.9142C13.0411 15.2893 12.5324 15.5 12.002 15.5H2.00195C1.47152 15.5 0.962812 15.2893 0.58774 14.9142C0.212667 14.5391 0.00195313 14.0304 0.00195313 13.5V5.5C0.00195286 4.96991 0.212392 4.46151 0.587032 4.08649C0.961673 3.71148 1.46987 3.50053 1.99995 3.5C1.99995 2.96957 2.21067 2.46086 2.58574 2.08579C2.96081 1.71071 3.46952 1.5 3.99995 1.5H14C14.5304 1.5 15.0391 1.71071 15.4142 2.08579C15.7892 2.46086 16 2.96957 16 3.5V11.5C16 12.0301 15.7895 12.5385 15.4149 12.9135C15.0402 13.2885 14.532 13.4995 14.002 13.5ZM2.00195 4.5C1.73674 4.5 1.48238 4.60536 1.29485 4.79289C1.10731 4.98043 1.00195 5.23478 1.00195 5.5V13.5L3.64795 11.146C3.72969 11.0646 3.83707 11.0139 3.95189 11.0026C4.06672 10.9913 4.18191 11.0201 4.27795 11.084L6.93795 12.857L10.648 9.147C10.7221 9.07277 10.8177 9.02376 10.9213 9.00689C11.0248 8.99002 11.1311 9.00615 11.225 9.053L13.002 11V5.5C13.002 5.23478 12.8966 4.98043 12.7091 4.79289C12.5215 4.60536 12.2672 4.5 12.002 4.5H2.00195Z"
          fill="#A6B1D2"></path>
      </svg>

      <div class="card-with-icon-and-label__label">Галерея</div>
    </a>
  </div>

  <div class="col-md-12 col-xl-6 gx-2 card-with-overlay">
    <a href='#' class="card-with-icon-and-label">
      {changeStatus && <CardOverlay withDelete />}

      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.68 2.26L2.64 3.64667C2.43401 3.92132 2.33102 4.05865 2.33341 4.1736C2.33549 4.27363 2.38239 4.36744 2.46117 4.42912C2.55169 4.5 2.72335 4.5 3.06667 4.5H12.9333C13.2766 4.5 13.4483 4.5 13.5388 4.42912C13.6176 4.36744 13.6645 4.27363 13.6666 4.1736C13.669 4.05865 13.566 3.92132 13.36 3.64667L12.32 2.26M3.68 2.26C3.79733 2.10356 3.856 2.02534 3.93035 1.96892C3.9962 1.91895 4.07077 1.88167 4.15026 1.85897C4.24 1.83333 4.33778 1.83333 4.53333 1.83333H11.4667C11.6622 1.83333 11.76 1.83333 11.8497 1.85897C11.9292 1.88167 12.0038 1.91895 12.0697 1.96892C12.144 2.02534 12.2027 2.10356 12.32 2.26M3.68 2.26L2.42667 3.93111C2.26836 4.14219 2.18921 4.24773 2.133 4.36395C2.08312 4.46708 2.04675 4.57621 2.02477 4.68864C2 4.81534 2 4.94727 2 5.21111L2 13.0333C2 13.7801 2 14.1534 2.14532 14.4387C2.27316 14.6895 2.47713 14.8935 2.72801 15.0213C3.01323 15.1667 3.3866 15.1667 4.13333 15.1667L11.8667 15.1667C12.6134 15.1667 12.9868 15.1667 13.272 15.0213C13.5229 14.8935 13.7268 14.6895 13.8547 14.4387C14 14.1534 14 13.7801 14 13.0333V5.21111C14 4.94727 14 4.81534 13.9752 4.68864C13.9533 4.57621 13.9169 4.46708 13.867 4.36395C13.8108 4.24773 13.7316 4.14219 13.5733 3.93111L12.32 2.26"
          stroke="#A6B1D2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M14 5H2V15H14V5ZM5.83301 7.16602C5.83301 6.88987 5.60915 6.66602 5.33301 6.66602C5.05687 6.66602 4.83301 6.88987 4.83301 7.16602C4.83301 8.00587 5.16664 8.81132 5.7605 9.40519C6.35437 9.99905 7.15982 10.3327 7.99967 10.3327C8.83953 10.3327 9.64498 9.99905 10.2388 9.40519C10.8327 8.81132 11.1663 8.00587 11.1663 7.16602C11.1663 6.88987 10.9425 6.66602 10.6663 6.66602C10.3902 6.66602 10.1663 6.88987 10.1663 7.16602C10.1663 7.74065 9.93807 8.29175 9.53174 8.69808C9.12541 9.10441 8.57431 9.33268 7.99967 9.33268C7.42504 9.33268 6.87394 9.10441 6.46761 8.69808C6.06128 8.29175 5.83301 7.74065 5.83301 7.16602Z"
          fill="#A6B1D2"></path>
      </svg>

      <div class="card-with-icon-and-label__label">Объявления</div>
    </a>
  </div>

  <div class="col-md-12 col-xl-6 gx-2 card-with-overlay">
    <a href='#' class="card-with-icon-and-label">
      {changeStatus && <CardOverlay withDelete />}

      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1767_2698)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.86699 1.83301H10.1337C11.2538 1.83301 11.8138 1.83301 12.2416 2.05099C12.618 2.24274 12.9239 2.5487 13.1157 2.92503C13.3337 3.35285 13.3337 3.9129 13.3337 5.03301V11.9005C13.3337 13.1011 12.3604 14.0743 11.1598 14.0743C11.1598 14.1598 11.1598 14.2025 11.1572 14.2386C11.1214 14.7339 10.7274 15.1279 10.232 15.1637C10.196 15.1663 10.1533 15.1663 10.0678 15.1663H6.5H5.86699C4.74689 15.1663 4.18683 15.1663 3.75901 14.9484C3.38269 14.7566 3.07673 14.4506 2.88498 14.0743C2.66699 13.6465 2.66699 13.0864 2.66699 11.9663V5.03301C2.66699 3.9129 2.66699 3.35285 2.88498 2.92503C3.07673 2.5487 3.38269 2.24274 3.75901 2.05099C4.18683 1.83301 4.74689 1.83301 5.86699 1.83301ZM5.33398 4.66602C5.05784 4.66602 4.83398 4.88987 4.83398 5.16602C4.83398 5.44216 5.05784 5.66602 5.33398 5.66602H10.6673C10.9435 5.66602 11.1673 5.44216 11.1673 5.16602C11.1673 4.88987 10.9435 4.66602 10.6673 4.66602H5.33398ZM5.33398 7.33268C5.05784 7.33268 4.83398 7.55654 4.83398 7.83268C4.83398 8.10882 5.05784 8.33268 5.33398 8.33268H9.33398C9.61013 8.33268 9.83398 8.10882 9.83398 7.83268C9.83398 7.55654 9.61013 7.33268 9.33398 7.33268H5.33398ZM5.33398 9.99935C5.05784 9.99935 4.83398 10.2232 4.83398 10.4993C4.83398 10.7755 5.05784 10.9993 5.33398 10.9993H6.66732C6.94346 10.9993 7.16732 10.7755 7.16732 10.4993C7.16732 10.2232 6.94346 9.99935 6.66732 9.99935H5.33398Z"
            fill="#A6B1D2"></path>
          <path
            d="M7.84738 14.5123L8.19221 14.1503L7.84738 14.5123L9.59738 16.179C10.0468 16.607 10.7657 16.607 11.2151 16.179L15.1526 12.429C15.6158 11.9879 15.6158 11.2621 15.1526 10.821C14.7032 10.393 13.9843 10.393 13.5349 10.821L10.4063 13.8006L9.46512 12.9043C9.01573 12.4763 8.29677 12.4763 7.84738 12.9043C7.38421 13.3454 7.38421 14.0712 7.84738 14.5123Z"
            fill="#A6B1D2"
            stroke="white"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g>
        <defs>
          <clipPath id="clip0_1767_2698">
            <rect
              width="16"
              height="16"
              fill="white"
              transform="translate(0 0.5)"></rect>
          </clipPath>
        </defs>
      </svg>

      <div class="card-with-icon-and-label__label">Госпрограммы</div>
    </a>
  </div>
</div>
