.send-idea-modal {
  padding: 32px;

  h4 {
    font-size: 32px;
    line-height: 35.2px;
    font-weight: 500;
    color: #212529;
  }

  &__close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__input-wrapper {
    position: relative;
    margin-top: 8px;

    .input-arrow-icon {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 24px;

    &-item > div {
      padding: 0;
    }
  }

  &__upload-file-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 35px 0;
    cursor: pointer;
    width: fit-content;

    span {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #487cfb;
    }
  }

  &__modal-btns {
    display: flex;
    gap: 10px;
    margin-top: 24px;
    justify-content: flex-end;
  }
}
