---
import '@styles/sideMenu.scss';
---

<ul class="side-menu">
  <li class="side-menu__item side-menu__item_active">
    <p>Внутренние мероприятия</p>
  </li>

  <li class="side-menu__item">
    <p>Внешние мероприятия</p>
  </li>
</ul>
