---
import '@styles/breadcrumbs.scss';
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Аналитика по регионам РФ</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Центральный ФО</li>
  </ol>
</nav>
