---
import './_index.scss';

import { Image } from 'astro:assets';

import avatar from '@assets/avatar.png';
---

<div class="comment">
  <Image src={avatar} width="32" height="32" alt="Аватар" />

  <div class="comment-content">
    <div class="comment-content__top-block">
      <p class="comment-content__name">Иванов Иван Иванович</p>
      <p class="comment-content__date">1 день назад</p>
    </div>

    <p class="comment-content__text">
      Lorem ipsum dolor sit amet, vince adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur.
    </p>

    <div class="comment-content__bottom-block">
      <div class="comment-content__likes">
        <svg
          width="12"
          height="13"
          viewBox="0 0 12 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_812_1902)">
            <rect
              width="12"
              height="12"
              transform="translate(0.000183105 0.501953)"
              fill="white"
              fill-opacity="0.01"></rect>
            <g clip-path="url(#clip1_812_1902)">
              <path
                d="M6.64785 0.53554C5.93085 0.35629 5.26485 0.89854 5.21685 1.60054C5.16285 2.38879 5.04435 3.11254 4.89585 3.54304C4.8021 3.81304 4.5366 4.30279 4.11585 4.77229C3.6981 5.23954 3.15435 5.65579 2.5176 5.82979C2.0136 5.96704 1.49985 6.40354 1.49985 7.04104V10.0418C1.49985 10.6755 2.01135 11.1398 2.58585 11.2005C3.38835 11.286 3.75885 11.5118 4.13685 11.7428L4.17285 11.7653C4.37685 11.889 4.60635 12.0263 4.90035 12.1283C5.1981 12.2303 5.5461 12.291 5.99985 12.291H8.62485C9.3276 12.291 9.8241 11.9333 10.0753 11.493C10.1968 11.2853 10.2624 11.0497 10.2658 10.809C10.2658 10.695 10.2486 10.575 10.2081 10.461C10.3588 10.2638 10.4931 10.0275 10.5741 9.78529C10.6566 9.53779 10.7031 9.21379 10.5771 8.92354C10.6288 8.82604 10.6671 8.72179 10.6963 8.62129C10.7541 8.41879 10.7811 8.19529 10.7811 7.97854C10.7811 7.76254 10.7541 7.53979 10.6963 7.33654C10.6701 7.2431 10.6355 7.15223 10.5928 7.06504C10.7242 6.87819 10.8087 6.66252 10.8392 6.43619C10.8698 6.20987 10.8454 5.97951 10.7683 5.76454C10.6138 5.32054 10.2568 4.93954 9.86835 4.81054C9.2331 4.59904 8.5161 4.60354 7.98135 4.65229C7.87033 4.66228 7.75955 4.67478 7.6491 4.68979C7.90928 3.57558 7.89331 2.41468 7.6026 1.30804C7.55202 1.13073 7.45499 0.970154 7.32156 0.842912C7.18812 0.71567 7.02311 0.626385 6.8436 0.58429L6.64785 0.53554ZM8.62485 11.5418H5.99985C5.61735 11.5418 5.3526 11.49 5.14485 11.4188C4.9341 11.346 4.76535 11.2478 4.56285 11.124L4.53285 11.106C4.1166 10.8518 3.63435 10.5578 2.66535 10.455C2.4156 10.428 2.24985 10.2375 2.24985 10.0425V7.04104C2.24985 6.85054 2.41935 6.63379 2.71485 6.55354C3.5361 6.32854 4.1976 5.80654 4.67535 5.27254C5.1516 4.74004 5.47335 4.16629 5.60385 3.78904C5.7861 3.26404 5.9091 2.46304 5.96535 1.65154C5.9841 1.38004 6.23535 1.20604 6.4656 1.26304L6.6621 1.31254C6.7821 1.34254 6.8556 1.41979 6.8781 1.50379C7.18439 2.67081 7.14662 3.9015 6.76935 5.04754C6.74799 5.11128 6.74416 5.17959 6.75826 5.24532C6.77236 5.31104 6.80387 5.37177 6.84949 5.42115C6.8951 5.47052 6.95315 5.50673 7.01756 5.52597C7.08197 5.54522 7.15037 5.54679 7.2156 5.53054L7.21785 5.52979L7.22835 5.52754L7.27185 5.51704C7.52831 5.46258 7.78776 5.42326 8.04885 5.39929C8.5461 5.35429 9.1416 5.35879 9.63135 5.52229C9.7626 5.56579 9.96885 5.74729 10.0588 6.00979C10.1391 6.24079 10.1241 6.51229 9.85935 6.77629L9.5946 7.04104L9.85935 7.30654C9.8916 7.33879 9.9381 7.41229 9.97485 7.54279C10.0108 7.66804 10.0311 7.82029 10.0311 7.97854C10.0311 8.13754 10.0108 8.28904 9.97485 8.41504C9.93735 8.54554 9.8916 8.61904 9.85935 8.65129L9.5946 8.91604L9.85935 9.18154C9.8946 9.21679 9.9411 9.31429 9.8631 9.54754C9.78182 9.77373 9.65262 9.97968 9.48435 10.1513L9.2196 10.416L9.48435 10.6815C9.48885 10.6853 9.5151 10.719 9.5151 10.809C9.51177 10.919 9.48054 11.0264 9.42435 11.121C9.3006 11.337 9.0471 11.541 8.62485 11.541V11.5418Z"
                fill="#CCD3E7"></path>
            </g>
          </g>
          <defs>
            <clipPath id="clip0_812_1902">
              <rect
                width="12"
                height="12"
                fill="white"
                transform="translate(0.000183105 0.501953)"></rect>
            </clipPath>
            <clipPath id="clip1_812_1902">
              <rect
                width="12"
                height="12"
                fill="white"
                transform="translate(0.000183105 0.501953)"></rect>
            </clipPath>
          </defs>
        </svg>

        <span>0</span>
      </div>

      <div class="comment-content__dislikes">
        <svg
          width="12"
          height="13"
          viewBox="0 0 12 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_812_1917)">
            <rect
              width="12"
              height="12"
              transform="translate(0.000183105 0.501953)"
              fill="white"
              fill-opacity="0.01"></rect>
            <g clip-path="url(#clip1_812_1917)">
              <path
                d="M6.64782 12.2567C5.93082 12.4367 5.26557 11.8937 5.21682 11.1917C5.16282 10.4042 5.04432 9.68047 4.89582 9.24922C4.80207 8.97922 4.53657 8.49022 4.11582 8.02072C3.69807 7.55272 3.15432 7.13647 2.51757 6.96322C2.01357 6.82522 1.49982 6.38872 1.49982 5.75122V2.75122C1.49982 2.11747 2.01132 1.65322 2.58582 1.59172C3.38832 1.50697 3.75882 1.28047 4.13682 1.04947L4.17282 1.02772C4.37682 0.903221 4.60632 0.765971 4.90032 0.664721C5.19807 0.561221 5.54607 0.501221 5.99982 0.501221H8.62482C9.32757 0.501221 9.82407 0.859721 10.0753 1.29922C10.1983 1.51447 10.2658 1.75447 10.2658 1.98397C10.2658 2.09797 10.2486 2.21797 10.2081 2.33197C10.3588 2.52847 10.4931 2.76472 10.5741 3.00697C10.6566 3.25447 10.7031 3.57847 10.5771 3.86947C10.6288 3.96697 10.6671 4.07047 10.6963 4.17172C10.7541 4.37422 10.7811 4.59697 10.7811 4.81372C10.7811 5.03047 10.7541 5.25322 10.6963 5.45572C10.6701 5.54572 10.6363 5.63872 10.5928 5.72797C10.8883 6.15622 10.9063 6.62797 10.7683 7.02772C10.6138 7.47172 10.2568 7.85272 9.86832 7.98172C9.23307 8.19397 8.51607 8.18872 7.98132 8.13997C7.8703 8.12997 7.75952 8.11747 7.64907 8.10247C7.9094 9.21692 7.89344 10.3781 7.60257 11.485C7.49907 11.866 7.19007 12.121 6.84357 12.208L6.64782 12.2567ZM8.62482 1.25122H5.99982C5.61732 1.25122 5.35257 1.30222 5.14482 1.37347C4.93407 1.44622 4.76532 1.54522 4.56282 1.66822L4.53282 1.68697C4.11657 1.94047 3.63432 2.23447 2.66532 2.33797C2.41557 2.36422 2.24982 2.55547 2.24982 2.75047V5.75122C2.24982 5.94247 2.41932 6.15847 2.71482 6.23872C3.53607 6.46372 4.19757 6.98647 4.67532 7.52047C5.15157 8.05297 5.47332 8.62672 5.60382 9.00322C5.78607 9.52822 5.90907 10.3292 5.96532 11.1407C5.98407 11.4122 6.23532 11.587 6.46557 11.5292L6.66207 11.4805C6.78207 11.4505 6.85557 11.3725 6.87807 11.2892C7.1845 10.122 7.14674 8.89099 6.76932 7.74472C6.74814 7.68102 6.74445 7.61281 6.75863 7.5472C6.77281 7.48159 6.80434 7.42099 6.84993 7.37172C6.89552 7.32245 6.9535 7.28632 7.01781 7.26711C7.08213 7.24789 7.15042 7.24629 7.21557 7.26247H7.21782L7.22832 7.26547L7.27182 7.27522C7.52828 7.32968 7.78773 7.36899 8.04882 7.39297C8.54607 7.43797 9.14157 7.43347 9.63132 7.27072C9.76257 7.22647 9.96882 7.04497 10.0588 6.78247C10.1391 6.55147 10.1241 6.27997 9.85932 6.01672L9.59457 5.75122L9.85932 5.48572C9.89157 5.45422 9.93807 5.38072 9.97482 5.24947C10.0108 5.12422 10.0311 4.97197 10.0311 4.81372C10.0311 4.65547 10.0108 4.50322 9.97482 4.37797C9.93732 4.24747 9.89157 4.17322 9.85932 4.14172L9.59457 3.87622L9.85932 3.61072C9.89457 3.57547 9.94107 3.47872 9.86307 3.24472C9.78169 3.0188 9.6525 2.81311 9.48432 2.64172L9.21957 2.37622L9.48432 2.11072C9.48882 2.10697 9.51507 2.07322 9.51507 1.98322C9.51161 1.87347 9.48039 1.76638 9.42432 1.67197C9.29982 1.45522 9.04707 1.25122 8.62482 1.25122Z"
                fill="#CCD3E7"></path>
            </g>
          </g>
          <defs>
            <clipPath id="clip0_812_1917">
              <rect
                width="12"
                height="12"
                fill="white"
                transform="translate(0.000183105 0.501953)"></rect>
            </clipPath>
            <clipPath id="clip1_812_1917">
              <rect
                width="12"
                height="12"
                fill="white"
                transform="translate(0.000183105 0.501953)"></rect>
            </clipPath>
          </defs>
        </svg>

        <span>0</span>
      </div>
      <span class="comment-content__reply-btn">Ответить</span>
    </div>
  </div>
</div>
