---
import './_index.scss';

import Container from '@layouts/Container/index.astro';

import Breadcrumbs from '@components/pages/advertisement/advertisement2-3/Breadcrumbs/index.astro';
import WhiteBlock1 from '@components/pages/advertisement/advertisement2-3/WhiteBlock1/index.astro';
import WhiteBlock2 from '@components/pages/advertisement/advertisement2-3/WhiteBlock2/index.astro';
import Carousel from '@components/pages/advertisement/advertisement2-3/Carousel/index.astro';
import Star from '@components/common/Star/index.astro';
---

<body>
  <Container isWhiteBgSearch>
    <main>
      <div class="advertisement-page">
        <div class="advertisement-page__breadcrumbs-and-star">
          <Breadcrumbs />
          <Star />
        </div>

        <h3 class="advertisement-page__title">
          Уютная 2-комнатная квартира в центре города
        </h3>
        <p class="advertisement-page__price">6 960 000 руб</p>

        <Carousel />

        <div class="advertisement-page__white-blocks">
          <WhiteBlock1 />
          <WhiteBlock2 />
        </div>
      </div>
    </main>
  </Container>
</body>
