.datepicker-dropdown-btn {
  border: 1px solid #f5f7fc;
  height: 38px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 4px;
  cursor: pointer;
}

.datepicker-dropdown-menu {
  padding: 0;
  border: none;
}
