---
import '@styles/sideMenu.scss';
---

<ul class="side-menu">
  <li class="side-menu__item side-menu__item_active">
    <p>IT</p>
  </li>

  <li class="side-menu__item">
    <p>HR</p>
  </li>

  <li class="side-menu__item">
    <p>Маркетинг</p>
  </li>

  <li class="side-menu__item">
    <p>Совершение сделок</p>
  </li>

  <li class="side-menu__item">
    <p>Финансы</p>
  </li>

  <li class="side-menu__item">
    <p>Риски</p>
  </li>

  <li class="side-menu__item">
    <p>Право</p>
  </li>

  <li class="side-menu__item">
    <p>Работа с поставщиками</p>
  </li>

  <li class="side-menu__item">
    <p>Страхование</p>
  </li>

  <li class="side-menu__item">
    <p>GR</p>
  </li>

  <li class="side-menu__item">
    <p>Концелярия и делопроизводство</p>
  </li>

  <li class="side-menu__item">
    <p>Хоз. обеспечение</p>
  </li>
</ul>
