---
import './_index.scss';

interface Props {
  current: number;
  total: number;
}

const { current, total } = Astro.props;
---

<div class="progress-bar-container">
  <div class="progress-bar-container__line">
    <div class="progress-bar-container__line__progress" style={`width: ${(current / total) * 100}%`}></div>
  </div>
  <div class="progress-bar-container__current">
    {current} из {total}
  </div>
</div>
