---
import './index.scss';

import { Image } from 'astro:assets';

import avatar from '@assets/pages/myPage/table-with-comments-avatar.png';
---

<div class="dropdown-comment-card">
  <div class="dropdown-comment-card__info">
    <div class="dropdown-comment-card__avatar">
      <Image src={avatar} width="32" height="32" alt="Аватар" />
    </div>

    <p class="dropdown-comment-card__name">Константин Константинопальский</p>

    <p class="dropdown-comment-card__date">13.03.2023</p>
  </div>

  <div class="dropdown-comment-card__text">
    <p>Аудит проведен, составлен перечень отсутсвующих документов</p>
  </div>
</div>
