---
import './_index.scss';
---

<div class="white-block-2">
  <h5>Контактная информация</h5>

  <div class="white-block-2__lists">
    <div class="white-block-2__list">
      <span>Имя</span>
      <span>Телефон</span>
      <span>Email</span>
    </div>

    <div class="white-block-2__list">
      <p>Иван Иванов</p>
      <p>+7 (900) 123-45-67</p>
      <p>ivan.ivanov@example.com</p>
    </div>
  </div>
</div>
