<div class="row justify-content-between">
  <div class="col-md-5">
    <h4 class="functional-title">Функционал</h4>
  </div>

  <div class="col-md-6">
    <div class="functional-content">
      <div class="functional-content__item">
        <h4>Вопросы по страхованию бизнеcа</h4>
        <p>
          Тут подробнее о том что делает на много строк. Тут подробнее о том что
          делает на много строк. Тут подробнее о том что делает на много строк.
        </p>
      </div>

      <div class="functional-content__item">
        <h4>Вопросы по страхованию бизнева</h4>
        <p>Тут подробнее о том что делает</p>
      </div>

      <div class="functional-content__item">
        <h4>Вопросы по страхованию бизнева</h4>
        <p>Тут подробнее о том что делает</p>
      </div>

      <div class="functional-content__item">
        <h4>Вопросы по страхованию бизнева</h4>
        <p>Тут подробнее о том что делает</p>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .functional-title {
    line-height: 100%;
    color: #212529;
    font-size: 24px;
    font-weight: 500;
  }

  .functional-content {
    display: flex;
    flex-direction: column;
    gap: 14px;

    &__item {
      h4 {
        font-size: 16px;
        color: #212529;
        font-weight: 700;
        line-height: 100%;
      }

      p {
        margin-top: 5px;
        font-size: 14px;
        color: #737373;
        font-weight: 500;
        line-height: 150%;
      }
    }
  }
</style>
