<div class="row justify-content-between">
  <div class="col-md-5">
    <h4 class="contacts-title">Контакты</h4>
  </div>

  <div class="col-md-6">
    <div class="contacts-content">
      <a href="tel:12345" class="contacts-content__item">
        <svg
          width="16"
          height="17"
          viewBox="0 0 16 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_1_129409)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1.88498 1.01102C2.05996 0.836313 2.27006 0.700783 2.50138 0.613415C2.7327 0.526046 2.97994 0.488835 3.22672 0.504248C3.47351 0.51966 3.7142 0.587343 3.93285 0.702813C4.15149 0.818282 4.34311 0.978901 4.49498 1.17402L6.28998 3.48002C6.61898 3.90302 6.73498 4.45402 6.60498 4.97402L6.05798 7.16402C6.0297 7.27745 6.03123 7.39627 6.06242 7.50893C6.09361 7.6216 6.1534 7.72429 6.23598 7.80702L8.69298 10.264C8.77582 10.3468 8.87868 10.4067 8.99153 10.4379C9.10439 10.4691 9.22341 10.4705 9.33698 10.442L11.526 9.89503C11.7826 9.83086 12.0504 9.82588 12.3093 9.88045C12.5681 9.93502 12.8111 10.0477 13.02 10.21L15.326 12.004C16.155 12.649 16.231 13.874 15.489 14.615L14.455 15.649C13.715 16.389 12.609 16.714 11.578 16.351C8.93917 15.4226 6.54325 13.9119 4.56798 11.931C2.58727 9.95604 1.07659 7.56048 0.147983 4.92202C-0.214017 3.89202 0.110983 2.78502 0.850983 2.04502L1.88498 1.01102Z"
              fill="#487CFB"></path>
          </g>
          <defs>
            <clipPath id="clip0_1_129409">
              <rect
                width="16"
                height="16"
                fill="white"
                transform="translate(0 0.5)"></rect>
            </clipPath>
          </defs>
        </svg>

        <span>12345</span>
      </a>

      <a href="tel:+74954581122" class="contacts-content__item">
        <svg
          width="16"
          height="17"
          viewBox="0 0 16 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_1_129409)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1.88498 1.01102C2.05996 0.836313 2.27006 0.700783 2.50138 0.613415C2.7327 0.526046 2.97994 0.488835 3.22672 0.504248C3.47351 0.51966 3.7142 0.587343 3.93285 0.702813C4.15149 0.818282 4.34311 0.978901 4.49498 1.17402L6.28998 3.48002C6.61898 3.90302 6.73498 4.45402 6.60498 4.97402L6.05798 7.16402C6.0297 7.27745 6.03123 7.39627 6.06242 7.50893C6.09361 7.6216 6.1534 7.72429 6.23598 7.80702L8.69298 10.264C8.77582 10.3468 8.87868 10.4067 8.99153 10.4379C9.10439 10.4691 9.22341 10.4705 9.33698 10.442L11.526 9.89503C11.7826 9.83086 12.0504 9.82588 12.3093 9.88045C12.5681 9.93502 12.8111 10.0477 13.02 10.21L15.326 12.004C16.155 12.649 16.231 13.874 15.489 14.615L14.455 15.649C13.715 16.389 12.609 16.714 11.578 16.351C8.93917 15.4226 6.54325 13.9119 4.56798 11.931C2.58727 9.95604 1.07659 7.56048 0.147983 4.92202C-0.214017 3.89202 0.110983 2.78502 0.850983 2.04502L1.88498 1.01102Z"
              fill="#487CFB"></path>
          </g>
          <defs>
            <clipPath id="clip0_1_129409">
              <rect
                width="16"
                height="16"
                fill="white"
                transform="translate(0 0.5)"></rect>
            </clipPath>
          </defs>
        </svg>

        <span>+7(495)458-11-22</span>
      </a>

      <a
        href="mailto:Maksim.DEREVYANKIN@gpbl.ru"
        class="contacts-content__item"
      >
        <svg
          width="16"
          height="17"
          viewBox="0 0 16 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9 9H11.793L12.646 9.854C12.6925 9.9004 12.7477 9.93718 12.8085 9.96223C12.8692 9.98728 12.9343 10.0001 13 10H14C14.1326 10 14.2598 9.94732 14.3536 9.85355C14.4473 9.75979 14.5 9.63261 14.5 9.5V8.5C14.5 8.36739 14.4473 8.24021 14.3536 8.14645C14.2598 8.05268 14.1326 8 14 8H9V9Z"
            fill="#487CFB"></path>
          <path
            d="M12 3.5H4C2.93913 3.5 1.92172 3.92143 1.17157 4.67157C0.421427 5.42172 0 6.43913 0 7.5V13.5C0 13.7652 0.105357 14.0196 0.292893 14.2071C0.48043 14.3946 0.734784 14.5 1 14.5H15C15.2652 14.5 15.5196 14.3946 15.7071 14.2071C15.8946 14.0196 16 13.7652 16 13.5V7.5C16 6.43913 15.5786 5.42172 14.8284 4.67157C14.0783 3.92143 13.0609 3.5 12 3.5ZM8 7.5C8.00067 6.93241 7.88024 6.37122 7.64675 5.85388C7.41326 5.33654 7.07208 4.87498 6.646 4.5H12C12.7956 4.5 13.5587 4.81607 14.1213 5.37868C14.6839 5.94129 15 6.70435 15 7.5V13.5H8V7.5ZM4.585 7.657C4.42 7.587 4.218 7.5 4 7.5C3.782 7.5 3.58 7.586 3.415 7.657C3.164 7.764 3 7.834 3 7.5C3 7.23478 3.10536 6.98043 3.29289 6.79289C3.48043 6.60536 3.73478 6.5 4 6.5C4.26522 6.5 4.51957 6.60536 4.70711 6.79289C4.89464 6.98043 5 7.23478 5 7.5C5 7.834 4.836 7.764 4.585 7.657Z"
            fill="#487CFB"></path>
        </svg>

        <span>Maksim.DEREVYANKIN@gpbl.ru</span>
      </a>
    </div>
  </div>

  <style lang="scss">
    .contacts-title {
      line-height: 100%;
      color: #212529;
      font-size: 24px;
      font-weight: 500;
    }

    .contacts-content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        width: fit-content;

        span {
          color: #212529;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  </style>
</div>
