---
import EmployeeCard from '@components/pages/employees/EmployeeCard.astro';
---

<div class="employees-content-block">
  <h3 class="employees-content-block__title">
    Управление финансовой отчетности
  </h3>

  <div class="employees-content-block__cards">
    <div class="row row-cols-md-2 row-cols-xl-3 gy-4">
      <div class="col">
        <EmployeeCard
          name="Константин Константинопальский"
          text1="HRBP"
          text2="89132423445 / 12345 "
          text3="example@example.ru"
        />
      </div>

      <div class="col">
        <EmployeeCard
          name="Константин Константинопальский"
          text1="HRBP"
          text2="89132423445 / 12345 "
          text3="example@example.ru"
        />
      </div>

      <div class="col">
        <EmployeeCard
          name="Константин Константинопальский"
          text1="HRBP"
          text2="89132423445 / 12345 "
          text3="example@example.ru"
        />
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .employees-content-block {
    margin-top: 40px;

    &__title {
      color: #212529;
      font-weight: 500;
      font-size: 28px;
    }

    &__cards {
      margin-top: 30px;
    }
  }
</style>
