input.input-text {
  width: 100%;
  border: 1px solid #ccd3e7;
  border-radius: 4px;
  padding: 6px 24px 6px 12px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  color: #212529;

  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #ccd3e7;
  }

  &:disabled {
    background-color: #fafbfd;
  }

  &:focus {
    border: 1px solid #86b7fe;
    box-shadow: 0 0 0 4px #0d6efd40;
    outline: none;
  }
}

.input-block-wrapper {
  position: relative;

  .datepicker-dropdown {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    z-index: 1;
  }

  .dropdown-menu {
    padding: 0;
  }
}
