---
import './_index.scss';

import Container from '@layouts/Container/index.astro';

import Star from '@components/common/Star/index.astro';
import SideMenu from '@components/pages/myPage/myPage3/SideMenu/index.astro';
import Table from '@components/pages/myPage/myPage3/table/Table/index.astro';
---

<body>
  <Container>
    <main>
      <div class="my-page-page">
        <div class="row justify-content-between">
          <div class="col-md-3">
            <SideMenu />
          </div>

          <div class="col-md-9">
            <div class="my-page-page__header">
              <h4 class="my-page-page__title">Мое подразделение</h4>
              <Star />
            </div>

            <div class="my-page-page__content">
              <Table />
            </div>
          </div>
        </div>
      </div>
    </main>
  </Container>
</body>
