body {
  background-color: #f3f5fb;
}

.main-page {
  margin-top: 50px;

  .media-special-projects-header {
    margin-top: 25px;
    
    h2 {
      color: #212529;
      font-size: 32px;
      font-weight: 500;
      line-height: 38.4px;
    }
  }

  .media-special-projects {
    &-list {
      margin-top: 16px;
    }
  }
}
