---
import './_index.scss';
---

<div class="dropdown">
  <div
    class="filter-dropdown-btn"
    id="filterDropdown"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <span>Вначале новые</span>

    <svg
      width="12"
      height="12"
      viewBox="0 0 12 12"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_834_823)">
        <rect width="12" height="12" fill="white" fill-opacity="0.01"></rect>
        <path
          d="M1.5 3.75L6 8.25L10.5 3.75"
          stroke="#7F8EBE"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </g>
      <defs>
        <clipPath id="clip0_834_823">
          <rect width="12" height="12" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>

  <ul
    class="dropdown-menu filter-dropdown-list"
    aria-labelledby="filterDropdown"
  >
    <li>
      <button class="dropdown-item filter-dropdown-item active" type="button"
        >Вначале новые</button
      >
    </li>
    <li>
      <button class="dropdown-item filter-dropdown-item" type="button"
        >Вначале старые</button
      >
    </li>
  </ul>
</div>
