body {
  background-color: #f3f5fb;
}

.advertisement-page {
  margin-top: 50px;

  &__breadcrumbs-and-star {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 24px;

    h3 {
      font-size: 32px;
      font-weight: 500;
      color: #212529;
      line-height: 38.4px;
    }
  }

  &__description {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    color: #212529;
    line-height: 24px;
  }

  &__cards {
    margin-top: 20px;
  }
}
