.search {
  display: flex;

  input {
    width: 100%;
    border: none;
    outline: none;
    background-color: #f3f5fb;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 0 12px;

    &::placeholder {
      color: #ccd3e7;
      font-size: 16px;
      font-weight: 400;
    }
  }

  button {
    border: none;
    padding: 7px 13px;
    background-color: #487cfb;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0 4px 4px 0;
  }
}
