---
import './_index.scss';

const { placeholder, bgColor = '#ffffff' } = Astro.props;
---

<div class="search">
  <input
    type="text"
    placeholder={placeholder}
    style=`background-color: ${ bgColor }`
  />

  <button>
    <svg
      width="17"
      height="16"
      viewBox="0 0 17 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_1047_4192)">
        <rect
          width="16"
          height="16"
          transform="translate(0.400024)"
          fill="white"
          fill-opacity="0.01"></rect>
        <g clip-path="url(#clip1_1047_4192)">
          <path
            d="M12.1417 10.3431C13.11 9.02181 13.5437 7.38361 13.356 5.75627C13.1683 4.12893 12.3731 2.63246 11.1294 1.56625C9.88579 0.500045 8.28542 -0.0572725 6.64851 0.00580065C5.0116 0.0688738 3.45886 0.747686 2.30094 1.90643C1.14303 3.06518 0.465325 4.6184 0.403424 6.25536C0.341522 7.89231 0.899984 9.49228 1.96708 10.7352C3.03418 11.9781 4.53122 12.7722 6.15869 12.9587C7.78617 13.1452 9.42406 12.7104 10.7447 11.7411H10.7437C10.7737 11.7811 10.8057 11.8191 10.8417 11.8561L14.6917 15.7061C14.8792 15.8938 15.1336 15.9992 15.3988 15.9993C15.6641 15.9994 15.9185 15.8941 16.1062 15.7066C16.2938 15.5191 16.3993 15.2647 16.3994 14.9995C16.3995 14.7342 16.2942 14.4798 16.1067 14.2921L12.2567 10.4421C12.2209 10.4059 12.1825 10.3725 12.1417 10.3421V10.3431ZM12.3997 6.49912C12.3997 7.22139 12.2574 7.93659 11.981 8.60388C11.7046 9.27117 11.2995 9.87749 10.7888 10.3882C10.278 10.8989 9.67172 11.3041 9.00443 11.5805C8.33714 11.8569 7.62195 11.9991 6.89967 11.9991C6.1774 11.9991 5.46221 11.8569 4.79492 11.5805C4.12763 11.3041 3.52131 10.8989 3.01059 10.3882C2.49987 9.87749 2.09474 9.27117 1.81834 8.60388C1.54194 7.93659 1.39967 7.22139 1.39967 6.49912C1.39967 5.04043 1.97914 3.64149 3.01059 2.61004C4.04204 1.57859 5.44098 0.999124 6.89967 0.999124C8.35837 0.999124 9.75731 1.57859 10.7888 2.61004C11.8202 3.64149 12.3997 5.04043 12.3997 6.49912Z"
            fill="white"></path>
        </g>
      </g>
      <defs>
        <clipPath id="clip0_1047_4192">
          <rect
            width="16"
            height="16"
            fill="white"
            transform="translate(0.400024)"></rect>
        </clipPath>
        <clipPath id="clip1_1047_4192">
          <rect
            width="16"
            height="16"
            fill="white"
            transform="translate(0.400024)"></rect>
        </clipPath>
      </defs>
    </svg>

    <span>Найти</span>
  </button>
</div>