---
import './_index.scss';

import MonthDropdown from '@components/pages/employees/employees6/MonthDropdown/index.astro';
---

<div class="birthdays-block">
  <div class="birthdays-block__header">
    <h4>Дни рождения</h4>
    <MonthDropdown />
  </div>

  <div class="birthdays-block__empty-cards">
    <p>В этом месяце нет ни одного дня рождения</p>
  </div>
</div>
