---
import './_index.scss';

import { Image } from 'astro:assets';

import stateProgramImage from '@assets/pages/statePrograms/state-program-image.png';
---

<div class="left-block">
  <h4 class="left-block__title">Авиализинг</h4>

  <Image
    src={stateProgramImage}
    width={636}
    height={192}
    alt="Картинка статьи"
  />

  <div class="left-block__description">
    <p>
      Госпрограмма «Авиализинг» ориентирована на обновление парка авиасудов. Она
      предоставляет возможность компаниям приобретать в лизинг российские
      грузовые и пассажирские самолёты.
    </p>

    <p>Условия программы:</p>

    <ul>
      <li>
        предмет лизинга — пассажирские или грузовые самолёты, произведённые на
        территории России; 3
      </li>

      <li>воздушное судно произведено не ранее 2004 года; 3</li>

      <li>
        пассажировместимость не менее 52 кресел либо взлётная масса не менее 20
        т; 3
      </li>

      <li>лизингополучатель — российская авиакомпания. 3</li>

      <li>
        Субсидия покрывает до 90% базового индикатора по договору лизинга в
        рублях. 1 Срок программы — до 12 лет. 4
      </li>
    </ul>

    <p>Требования к клиенту:</p>

    <span
      >российская авиакомпания, наличие необходимых лицензий и иной документации
      для ведения деятельности, юридическая чистота и устойчивое финансовое
      положение, отсутствие претензий со стороны налоговых органов,
      положительная кредитная история. 3</span
    >
  </div>
</div>
