---
import './_index.scss';
---

<ul class="nav-menu">
  <li class="nav-menu__item nav-menu__item_active">Все</li>
  <li class="nav-menu__item">Бизнес-идея с экономическим эффектом</li>
  <li class="nav-menu__item">Оптимизация бизнес-процессов</li>
  <li class="nav-menu__item">Улучшение условий работы в офисе</li>
  <li class="nav-menu__item">Повышение лояльности клиентов и развитие бренда</li>
  <li class="nav-menu__item">Развитие внутренних коммуникаций</li>
  <li class="nav-menu__item">Другое</li>
</ul>
