body {
  background-color: #f3f5fb;
}

.analytics-page {
  margin-top: 55px;
  position: relative;

  &__star {
    position: absolute;
    top: 0;
    right: -60px;
  }

  &__cards {
    margin-top: 10px;
  }
}
