---
import './_index.scss';

import MonthDropdown from '@components/pages/hr/hr3/RightBlock/MonthDropdown/index.astro';
import YearDropdown from '@components/pages/hr/hr3/RightBlock/YearDropdown/index.astro';
import FileForDownload from '@components/common/FileForDownload/index.astro';
---

<div class="right-block">
  <p class="right-block__title">HR экспресс</p>

  <div class="right-block__dropdowns">
    <MonthDropdown />
    <YearDropdown />
  </div>

  <FileForDownload label="Выпуск от 03.10.24" />
  <FileForDownload label="Выпуск от 15.10.24" />
  <FileForDownload label="Выпуск от 30.10.24" />
</div>
