---
import '@styles/breadcrumbs.scss';
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Отраслевые отчеты и исследования</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Угольная промышленность</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Яков и Партнеры</li>
  </ol>
</nav>
