---
import './index.scss';

import Cards1 from '@components/pages/main/rightContentBlocks/Cards1/index.astro';
import Cards2 from '@components/pages/main/rightContentBlocks/Cards2/index.astro';
import CardsWithTitle from '@components/pages/main/rightContentBlocks/CardsWithTitle/index.astro';
import Cards3 from '@components/pages/main/rightContentBlocks/Cards3/index.astro';
import SoloCard from '@components/pages/main/rightContentBlocks/SoloCard/index.astro';
import Employees from '@components/pages/main/rightContentBlocks/Employees/index.astro';
import Tasks from '@components/pages/main/rightContentBlocks/Tasks/index.astro';
import Vacation from '@components/pages/main/rightContentBlocks/Vacation/index.astro';
import GrayCardWithImg from '@components/pages/main/rightContentBlocks/GrayCardWithImg/index.astro';
import ChangeWidgetsBtn from '@components/pages/main/rightContentBlocks/ChangeWidgetsBtn/index.astro';
import Advertising from '@components/pages/main/rightContentBlocks/Advertising/index.astro';
---

<div>
  <span class="right-content-block-title">Избранное</span>
  <Cards1 />
  <Cards2 />
  <CardsWithTitle />
  <Cards3 />
  <SoloCard />
  <Employees />
  <Tasks />
  <Vacation />
  <GrayCardWithImg />
  <ChangeWidgetsBtn />
  <Advertising />
</div>
