body {
  background-color: #f3f5fb;
}

.state-programs-page {
  margin: 35px 277px 0 277px;

  @media (max-width: 1300px) {
    margin: 50px 100px 0 100px;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    color: #212529;
    line-height: 48px;
    margin-top: 25px;
  }

  &__main-image {
    margin-top: 32px;
    border-radius: 16px;

    img {
      width: 100%;
      height: auto;
      border-radius: 16px;
    }
  }

  &__description {
    ul {
      margin: 0;
    }

    p {
      margin-top: 15px;
    }

    p,
    span {
      font-size: 16px;
      font-weight: 400;
      color: #212529;
      line-height: 24px;
    }
  }

  &__files-for-download {
    margin-top: 45px;

    h4 {
      font-size: 24px;
      font-weight: 500;
      color: #212529;
      line-height: 28.8px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 25px;

      li {
        display: flex;
        align-items: center;

        p,
        a {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }

        p {
          margin-left: 16px;
          color: #212529;
          border-right: 1px solid rgba(33, 37, 41, 0.25);
          padding-right: 8px;
        }

        a {
          color: #487cfb;
          text-decoration: none;
          margin-left: 8px;
        }
      }
    }
  }
}
