.side-menu {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item:not(.side-menu__item_active) {
    cursor: pointer;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    padding: 6px 12px;
    transition: all 0.1s ease-in-out;
    border-radius: 4px;

    &:not(:first-child) {
      margin-top: 5px;
    }

    &:hover:not(.side-menu__item_active) {
      p {
        color: #0d6efd;
      }

      svg path {
        fill: #0d6efd;
      }
    }

    p {
      font-size: 16px;
      font-weight: 400;
      color: #487cfb;
    }

    &_active {
      background-color: #487cfb;

      p {
        color: #ffffff;
      }

      svg path {
        fill: #ffffff;
      }
    }
  }
}
