.advertisement-card {
  background-color: #ffffff;
  border-radius: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
	text-decoration: none;

  img {
    width: 100%;
    height: auto;
    border-radius: 24px;
  }

  &__text {
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__category,
  &__price {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 500;
    display: block;
  }

  &__category {
    color: #a6b1d2;
  }

  &__price {
    color: #487cfb;
    margin-top: 10px;
    flex: 1;
    display: flex;
    align-items: flex-end;
  }

  &__label {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #212529;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
