---
import '@styles/navMenu.scss';
---

<ul class="nav-menu">
  <li class="nav-menu__item nav-menu__item_active">Газпромбанк Лизинг</li>
  <li class="nav-menu__item">Газпромбанк Автолизинг</li>
  <li class="nav-menu__item">Carcade</li>
  <li class="nav-menu__item">Головной офис ГПБ</li>
  <li class="nav-menu__item">Филиалы ГПБ</li>
</ul>
