---
import './_index.scss';

import { Image } from 'astro:assets';

import avatar from '@assets/avatar.png';
import newImg from '@assets/pages/news/news2/new-img.png';
---

<div class="history-1">
  <h4 class="history-1__title">История</h4>

  <p class="history-1__description">
    Если действия клиента подпадают под указанные в этих статьях основания, то
    финансовая организация имеет право расторгнуть ДБС. В этом случае банк также
    должен отправить юридическому лицу письменное уведомление за 60 дней до
    фактической даты расторжения. В течение этих 60 дней финансовая организация
    не имеет права совершать какие-либо операции с р/с, кроме снятия комиссии за
    обслуживание или начисления процентов.
  </p>

  <ol>
    <li>
      Если действия клиента подпадают под указанные в этих статьях основания, то
      финансовая организация имеет право расторгнуть ДБС. В этом случае банк
      также должен отправить юридическому лицу письменное уведомление за 60
    </li>
    <li>
      Если действия клиента подпадают под указанные в этих статьях основания, то
      финансовая организация имеет право расторгнуть ДБС. В этом случае банк
      также должен отправить юридическому лицу письменное уведомление за 60
    </li>
    <li>
      Если действия клиента подпадают под указанные в этих статьях основания, то
      финансовая организация имеет право расторгнуть ДБС. В этом случае банк
      также должен отправить юридическому лицу письменное уведомление за 60
    </li>
  </ol>

  <ul>
    <li>
      клиент — иностранное юридическое лицо, в течение 15 рабочих дней не
      сообщил информацию, которая помогла бы идентифицировать его как
      иностранного налогоплательщика;
    </li>
    <li>
      клиент — иностранное юридическое лицо, в течение 15 рабочих дней не
      сообщил информацию, которая помогла бы идентифицировать его как
      иностранного налогоплательщика;
    </li>
  </ul>

  <div class="history-1__gray-block-with-card">
    <p class="history-1__gray-block-with-card--title">
      Закрыть счет юридического лица может как владелец счета, так и банк. По
      закону клиент имеет право в любой момент отказаться от своего счета в
      банке, объяснять причины такого решения не требуется.
    </p>

    <div class="history-1__gray-block-card">
      <div class="history-1__gray-block-card-avatar">
        <Image src={avatar} width="60" height="60" alt="Аватар" />

        <div class="history-1__avatar-after-element">
          <svg
            width="15"
            height="15"
            viewBox="0 0 15 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.4375 14.4688C9.3023 14.4688 11.0907 13.728 12.4093 12.4093C13.728 11.0907 14.4688 9.3023 14.4688 7.4375C14.4688 5.5727 13.728 3.78427 12.4093 2.46566C11.0907 1.14704 9.3023 0.40625 7.4375 0.40625C5.5727 0.40625 3.78427 1.14704 2.46566 2.46566C1.14704 3.78427 0.40625 5.5727 0.40625 7.4375C0.40625 9.3023 1.14704 11.0907 2.46566 12.4093C3.78427 13.728 5.5727 14.4688 7.4375 14.4688Z"
              fill="#198754"></path>
          </svg>
        </div>
      </div>

      <div class="history-1__gray-block-card-text">
        <p>Константин Константинопальский</p>
        <span>HRBP</span>
      </div>
    </div>
  </div>

  <div class="history-1__gray-block-with-text-only">
    <p>
      Закрыть счет юридического лица может как владелец счета, так и банк. По
      закону клиент имеет право в любой момент отказаться от своего счета в
      банке, объяснять причины такого решения не требуется.
    </p>
  </div>

  <div class="history-1__gray-block-with-text-img">
    <Image src={newImg} width="588" height="357" alt="Картинка новости" />

    <p>
      Закрыть счет юридического лица может как владелец счета, так и банк. По
      закону клиент имеет право в любой момент отказаться от своего счета в
      банке, объяснять причины такого решения не требуется.
    </p>
  </div>
</div>
