.birthdays-block {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 24px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    h4 {
      color: #212529;
      font-size: 20px;
      font-weight: 500;
      line-height: 100%;
    }
  }

  &__cards {
    margin-top: 30px;
  }
}
