---
import './_index.scss';

const { changeStatus } = Astro.props;
---

<div class={`row justify-content-between card-row gy-2 ${changeStatus ? 'cards-change-status' : ''}`}>
  <div class="col-md-12 col-xl-6 gx-2">
    <div class="card-with-icon-and-label">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1_3933)">
          <path
            d="M0 2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0L10 0C10.5304 0 11.0391 0.210714 11.4142 0.585786C11.7893 0.960859 12 1.46957 12 2V4H14C14.5304 4 15.0391 4.21071 15.4142 4.58579C15.7893 4.96086 16 5.46957 16 6V14C16 14.5304 15.7893 15.0391 15.4142 15.4142C15.0391 15.7893 14.5304 16 14 16H6C5.46957 16 4.96086 15.7893 4.58579 15.4142C4.21071 15.0391 4 14.5304 4 14V12H2C1.46957 12 0.960859 11.7893 0.585786 11.4142C0.210714 11.0391 0 10.5304 0 10V2ZM2 1C1.73478 1 1.48043 1.10536 1.29289 1.29289C1.10536 1.48043 1 1.73478 1 2V10C1 10.2652 1.10536 10.5196 1.29289 10.7071C1.48043 10.8946 1.73478 11 2 11H10C10.2652 11 10.5196 10.8946 10.7071 10.7071C10.8946 10.5196 11 10.2652 11 10V2C11 1.73478 10.8946 1.48043 10.7071 1.29289C10.5196 1.10536 10.2652 1 10 1H2Z"
            fill="#A6B1D2"></path>
        </g>
        <defs>
          <clipPath id="clip0_1_3933">
            <rect width="16" height="16" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>

      <div class="card-with-icon-and-label__label">1С: ЛКИ</div>
    </div>
  </div>

  <div class="col-md-12 col-xl-6 gx-2">
    <div class="card-with-icon-and-label">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9.82797 3H13.81C14.0879 2.99997 14.3628 3.05787 14.6171 3.16999C14.8714 3.28212 15.0995 3.44601 15.2869 3.65122C15.4744 3.85643 15.617 4.09845 15.7056 4.36184C15.7943 4.62524 15.8271 4.90422 15.802 5.181L15.165 12.181C15.1198 12.6779 14.8905 13.14 14.5222 13.4766C14.1538 13.8131 13.6729 13.9998 13.174 14H2.82497C2.32601 13.9998 1.84514 13.8131 1.47677 13.4766C1.10839 13.14 0.879125 12.6779 0.833969 12.181L0.196969 5.181C0.154356 4.71778 0.275363 4.25427 0.538969 3.871L0.499969 3C0.499969 2.46957 0.710683 1.96086 1.08576 1.58579C1.46083 1.21071 1.96954 1 2.49997 1H6.17197C6.70236 1.00011 7.21098 1.2109 7.58597 1.586L8.41397 2.414C8.78895 2.7891 9.29758 2.99989 9.82797 3ZM1.50597 3.12C1.71997 3.042 1.94997 3 2.18997 3H7.58597L6.87897 2.293C6.69148 2.10545 6.43716 2.00006 6.17197 2H2.49997C2.23801 1.99995 1.9865 2.1027 1.7995 2.28614C1.6125 2.46959 1.50495 2.71909 1.49997 2.981L1.50597 3.12Z"
          fill="#A6B1D2"></path>
      </svg>

      <div class="card-with-icon-and-label__label">Библиотека ВНД</div>
    </div>
  </div>

  <div class="col-md-12 col-xl-6 gx-2">
    <div class="card-with-icon-and-label">
      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1767_2608)">
          <path
            d="M13.498 1.29499L13.647 1.14599C13.7591 1.0339 13.8923 0.945008 14.0388 0.884374C14.1853 0.82374 14.3423 0.792556 14.5009 0.792603C14.6594 0.792649 14.8164 0.823925 14.9629 0.884645C15.1093 0.945364 15.2424 1.03434 15.3545 1.14649C15.4666 1.25864 15.5555 1.39176 15.6161 1.53827C15.6767 1.68477 15.7079 1.84178 15.7079 2.00034C15.7078 2.1589 15.6766 2.31589 15.6158 2.46236C15.5551 2.60883 15.4661 2.7419 15.354 2.85399L15.205 3.00199C15.4599 3.28785 15.5958 3.66038 15.5848 4.04322C15.5738 4.42605 15.4168 4.79019 15.146 5.06099L4.854 15.354C4.78966 15.418 4.70911 15.4633 4.621 15.485L0.620999 16.485C0.537292 16.5058 0.449615 16.5047 0.366492 16.4816C0.283369 16.4585 0.207627 16.4144 0.14663 16.3534C0.085632 16.2924 0.0414533 16.2166 0.0183878 16.1335C-0.00467757 16.0504 -0.00584496 15.9627 0.0149991 15.879L1.015 11.879C1.03688 11.7912 1.08215 11.7111 1.146 11.647L10.788 2.00499C10.6916 1.93712 10.5742 1.90551 10.4568 1.91576C10.3393 1.92601 10.2292 1.97745 10.146 2.06099L6.854 5.35399C6.80751 5.40048 6.75232 5.43735 6.69158 5.46251C6.63084 5.48767 6.56574 5.50062 6.5 5.50062C6.43426 5.50062 6.36915 5.48767 6.30842 5.46251C6.24768 5.43735 6.19249 5.40048 6.146 5.35399C6.09951 5.3075 6.06263 5.25231 6.03748 5.19157C6.01232 5.13083 5.99937 5.06573 5.99937 4.99999C5.99937 4.93424 6.01232 4.86914 6.03748 4.8084C6.06263 4.74766 6.09951 4.69248 6.146 4.64599L9.44 1.35399C9.71097 1.083 10.0754 0.926008 10.4585 0.915223C10.8415 0.904437 11.2142 1.04068 11.5 1.29599C11.7748 1.05043 12.1303 0.914599 12.4988 0.914415C12.8673 0.914231 13.223 1.0497 13.498 1.29499Z"
            fill="#A6B1D2"></path>
        </g>
        <defs>
          <clipPath id="clip0_1767_2608">
            <rect
              width="16"
              height="16"
              fill="white"
              transform="translate(0 0.5)"></rect>
          </clipPath>
        </defs>
      </svg>

      <div class="card-with-icon-and-label__label">СДО</div>
    </div>
  </div>

  <div class="col-md-12 col-xl-6 gx-2">
    <div class="card-with-icon-and-label">
      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7.76499 2.05897C7.83733 2.02045 7.91803 2.00031 7.99999 2.00031C8.08194 2.00031 8.16264 2.02045 8.23499 2.05897L15.735 6.05897C15.8149 6.10165 15.8816 6.16521 15.9282 6.24288C15.9748 6.32056 15.9994 6.40941 15.9994 6.49997C15.9994 6.59053 15.9748 6.67939 15.9282 6.75706C15.8816 6.83473 15.8149 6.8983 15.735 6.94097L8.23499 10.941C8.16264 10.9795 8.08194 10.9996 7.99999 10.9996C7.91803 10.9996 7.83733 10.9795 7.76499 10.941L0.264986 6.94097C0.185113 6.8983 0.11833 6.83473 0.0717675 6.75706C0.0252047 6.67939 0.000610352 6.59053 0.000610352 6.49997C0.000610352 6.40941 0.0252047 6.32056 0.0717675 6.24288C0.11833 6.16521 0.185113 6.10165 0.264986 6.05897L7.76499 2.05897Z"
          fill="#A6B1D2"></path>
        <path
          d="M2.12499 9.06697L0.264986 10.059C0.185113 10.1016 0.11833 10.1652 0.0717675 10.2429C0.0252047 10.3206 0.000610352 10.4094 0.000610352 10.5C0.000610352 10.5905 0.0252047 10.6794 0.0717675 10.7571C0.11833 10.8347 0.185113 10.8983 0.264986 10.941L7.76499 14.941C7.83733 14.9795 7.91803 14.9996 7.99999 14.9996C8.08194 14.9996 8.16264 14.9795 8.23499 14.941L15.735 10.941C15.8149 10.8983 15.8816 10.8347 15.9282 10.7571C15.9748 10.6794 15.9994 10.5905 15.9994 10.5C15.9994 10.4094 15.9748 10.3206 15.9282 10.2429C15.8816 10.1652 15.8149 10.1016 15.735 10.059L13.875 9.06697L8.70499 11.823C8.48796 11.9385 8.24586 11.999 7.99999 11.999C7.75411 11.999 7.51201 11.9385 7.29499 11.823L2.12499 9.06697Z"
          fill="#A6B1D2"></path>
      </svg>

      <div class="card-with-icon-and-label__label">1С:ДО</div>
    </div>
  </div>
</div>
