---
import TableCard from '@components/pages/employees/employees2/TableCard.astro'
---

<div class="employees-table table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <th>ФИО</th>
        <th>Подразделение</th>
        <th>Должность</th>
        <th>Вн. номер</th>
        <th>Моб.номер</th>
        <th>Почта</th>
      </tr>
    </thead>

    <tbody>
      <TableCard />
      <TableCard />
      <TableCard />
      <TableCard />
    </tbody>
  </table>
</div>

<style lang="scss">
  .employees-table {
    margin-top: 55px;

    thead th {
      border: none;
      color: #b3b3b3;
      font-size: 12px;
      font-weight: 900;
    }

    tbody::before {
      content: '-';
      display: block;
      line-height: 1em;
      color: transparent;
    }
  }
</style>
