---
import './index.scss';
---

<a href="#" class="banner">
  <div class="banner__title">QMM 28/06: программа и другие детали</div>

  <div class="banner__text">
    Делимся программой мероприятия и подробностями о регистрации
  </div>
</a>
