---
import './_index.scss';
---

<ul class="nav-menu">
  <li class="nav-menu__item nav-menu__item_active">Все</li>
  <li class="nav-menu__item">Мои объявления</li>
  <li class="nav-menu__item">Автомобили</li>
  <li class="nav-menu__item">Недвижимость</li>
  <li class="nav-menu__item">Техника</li>
  <li class="nav-menu__item">Одежда и обувь</li>
  <li class="nav-menu__item">Для детей</li>
  <li class="nav-menu__item">Для животных</li>
  <li class="nav-menu__item">Для дома</li>
  <li class="nav-menu__item">Для спорта</li>
  <li class="nav-menu__item">Билеты</li>
  <li class="nav-menu__item">Другое</li>
</ul>
