<div class="completed-signatures-block">
  <div class="completed-signatures-block__group">
    <div class="completed-signatures-block-item">
      <p class="completed-signatures-block-item__label">Подпись сотрудника</p>
      <p class="completed-signatures-block-item__label">Дата</p>
    </div>

    <div class="completed-signatures-block-item">
      <span
        class="completed-signatures-block-item__text completed-signatures-block-item__approved"
        >Ознакомлен</span
      >
      <span class="completed-signatures-block-item__text">07.06.2024</span>
    </div>
  </div>

  <div class="completed-signatures-block__group">
    <div class="completed-signatures-block-item">
      <p class="completed-signatures-block-item__label">Подпись руководителя</p>
      <p class="completed-signatures-block-item__label">Дата</p>
    </div>

    <div class="completed-signatures-block-item">
      <span
        class="completed-signatures-block-item__text completed-signatures-block-item__approved"
        >Ознакомлен</span
      >
      <span class="completed-signatures-block-item__text">07.06.2024</span>
    </div>
  </div>

  <div class="completed-signatures-block__group">
    <div class="completed-signatures-block-item">
      <p class="completed-signatures-block-item__label">Подпись HR</p>
      <p class="completed-signatures-block-item__label">Дата</p>
    </div>

    <div class="completed-signatures-block-item">
      <span
        class="completed-signatures-block-item__text completed-signatures-block-item__approved"
        >Ознакомлен</span
      >
      <span class="completed-signatures-block-item__text">07.06.2024</span>
    </div>
  </div>

  <style lang="scss">
    .completed-signatures-block {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 10px;
      margin-top: 20px;

      &__group {
        width: 25%;
        display: flex;
        gap: 15px;
        justify-content: center;

        @media (max-width: 1150px) {
          width: 50%;
          justify-content: flex-start;
        }
      }
    }

    .completed-signatures-block-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 5px;

      &__label,
      &__text {
        font-size: 14px;
        line-height: 150%;
        font-weight: 500;
      }

      &__label {
        white-space: nowrap;
        color: #b3b3b3;
      }

      &__approved {
        color: #198754;
      }
    }
  </style>
</div>
