<div class="statistics-block">
  <div class="statistics-block__left-block">
    <p>[1,6-2] — полностью соответствует ожиданиям;</p>

    <p>[1,6-2] — полностью соответствует ожиданиям;</p>

    <p>[1,6-2] — полностью соответствует ожиданиям;</p>

    <p>[1,6-2] — полностью соответствует ожиданиям;</p>
  </div>

  <h4 class="statistics-block__summary">Итоговый средний балл: 2</h4>
</div>

<style lang="scss">
  .statistics-block {
    display: flex;
    justify-content: space-between;
		margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid #D3D6D8;

    &__left-block {
      display: flex;
      flex-direction: column;
      gap: 8px;

      p {
        color: #b3b3b3;
        font-size: 14px;
        font-weight: 500;
      }
    }

    &__summary {
      font-size: 24px;
      font-weight: 500;
      color: #212529;
    }
  }
</style>
