---
import '@styles/breadcrumbs.scss';
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Интерактивная структура</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Иванов Иван Иванович
    </li>
  </ol>
</nav>
