---
import './_index.scss';

import { Image } from 'astro:assets';

import Container from '@layouts/Container/index.astro';

import Breadcrumbs from '@components/pages/news/news2/Breadcrumbs/index.astro';
import History1 from '@components/pages/news/news2/History1/index.astro';
import History2 from '@components/pages/news/news2/History2/index.astro';
import FilesForDownload from '@components/pages/news/news2/FilesForDownload/index.astro';
import Comments from '@components/pages/news/news2/Comments/index.astro';
import NewStatistics from '@components/pages/news/news2/NewStatistics/index.astro';
import Star from '@components/common/Star/index.astro';
import FileForDownload from '@components/common/FileForDownload/index.astro';

import newImage from '@assets/pages/news/news2/new-img.png';
---

<body>
  <Container>
    <main>
      <div class="news-page">
        <div class="news-page__left-block">
          <Breadcrumbs />

          <h2 class="news-page__title">
            Закрытие расчетного счета по инициативе банка
          </h2>

          <div class="news-page__date-and-subsection-name-block">
            <p>10 сентября 2024</p>
            <span></span>
            <p>Название подразделения</p>
          </div>

          <Image
            class="news-page__big-new-image-1"
            src={newImage}
            width="636"
            height="357"
            alt="Картинка новости"
          />

          <p class="news-page__description-before-image-1">
            Закрыть счет юридического лица может как владелец счета, так и банк.
            По закону клиент имеет право в любой момент отказаться от своего
            счета в банке, объяснять причины такого решения не требуется.
          </p>

          <Image
            class="news-page__big-new-image-2"
            src={newImage}
            width="636"
            height="357"
            alt="Картинка новости"
          />

          <p class="news-page__image-label">
            Подпись под фотографией или видео
          </p>

          <p class="news-page__description-before-image-2">
            Лид текст. Закрыть счет юридического лица может как владелец счета,
            так и банк. По закону клиент имеет право в любой момент отказаться
            от своего счета в банке, объяснять причины такого решения не
            требуется.
          </p>

          <History1 />
          <History2 />
          <FilesForDownload />
          <Comments />
          <NewStatistics />
        </div>

        <div class="news-page__right-block">
          <div class="news-page__right-block__star">
            <Star />
          </div>

          <div class="news-page__file">
            <FileForDownload label="План застройки дома 10 этажей" />
          </div>
        </div>
      </div>
    </main>
  </Container>
</body>
