---
import './_index.scss';
---

<div class="banner">
  <p class="banner__title">Есть идея? Расскажи о ней!</p>
  <p class="banner__description">
    Подйте заявку с описанием своей идеи и ожидаемым результатом от её
    реализации
  </p>

  <button
    class="banner__button"
    data-bs-toggle="modal"
    data-bs-target="#ideaModal">Подать заявку</button
  >
</div>
