.vacation-title {
  line-height: 100%;
  color: #212529;
  font-size: 22px;
  font-weight: 500;
}

.vacation-description {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    color: #c7c8c9;
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
  }
}

.vacation-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid #d3d6d8;
    padding-bottom: 10px;

    p,
    span {
      font-size: 14px;
      color: #737373;
      font-weight: 500;
      line-height: 150%;
    }

    p {
      color: #737373;
    }

    span {
      color: #363432;
    }
  }
}
