---
import './_index.scss';
---

<div class="row justify-content-between">
  <div class="col-md-4">
    <h4 class="vacation-title">Плановый отпуск</h4>

    <div class="vacation-description">
      <p>3 дня были в отпуске в 2024 году</p>
      <p>16 дней основной отпуск (19.06.2024)</p>
      <p>2 бытовых дня (до 19.09.2024)</p>
    </div>
  </div>

  <div class="col-md-7">
    <div class="vacation-content">
      <div class="vacation-content__item">
        <p>24.02-28.02</p>
        <span>4 дня</span>
      </div>

      <div class="vacation-content__item">
        <p>24.02-28.02</p>
        <span>4 дня</span>
      </div>

      <div class="vacation-content__item">
        <p>24.02-28.02</p>
        <span>4 дня</span>
      </div>

      <div class="vacation-content__item">
        <p>24.02-28.02</p>
        <span>4 дня</span>
      </div>
    </div>
  </div>
</div>
