---
import './index.scss';
---

<div class="row justify-content-between card-row gy-2">
  <div class="col-md-12 col-xl-6 gx-2">
    <div class="card-with-icon-and-label">
      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.05 4.055C0.150818 3.61324 0.398655 3.21881 0.752922 2.93631C1.10719 2.6538 1.54688 2.49997 2 2.5H14C14.4531 2.49997 14.8928 2.6538 15.2471 2.93631C15.6013 3.21881 15.8492 3.61324 15.95 4.055L8 8.914L0.05 4.055ZM0 5.197V12.301L5.803 8.743L0 5.197ZM6.761 9.33L0.191 13.357C0.353327 13.6993 0.609527 13.9884 0.929782 14.1908C1.25004 14.3931 1.62117 14.5004 2 14.5H14C14.3788 14.5001 14.7498 14.3926 15.0698 14.1901C15.3899 13.9876 15.6459 13.6983 15.808 13.356L9.238 9.329L8 10.086L6.761 9.329V9.33ZM10.197 8.744L16 12.301V5.197L10.197 8.743V8.744Z"
          fill="#A6B1D2"></path>
      </svg>

      <div class="card-with-icon-and-label__label">СДО</div>
    </div>
  </div>
  <div class="col-md-12 col-xl-6 gx-2">
    <div class="card-with-icon-and-label">
      <svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7.76499 2.05897C7.83733 2.02045 7.91803 2.00031 7.99999 2.00031C8.08194 2.00031 8.16264 2.02045 8.23499 2.05897L15.735 6.05897C15.8149 6.10165 15.8816 6.16521 15.9282 6.24288C15.9748 6.32056 15.9994 6.40941 15.9994 6.49997C15.9994 6.59053 15.9748 6.67939 15.9282 6.75706C15.8816 6.83473 15.8149 6.8983 15.735 6.94097L8.23499 10.941C8.16264 10.9795 8.08194 10.9996 7.99999 10.9996C7.91803 10.9996 7.83733 10.9795 7.76499 10.941L0.264986 6.94097C0.185113 6.8983 0.11833 6.83473 0.0717675 6.75706C0.0252047 6.67939 0.000610352 6.59053 0.000610352 6.49997C0.000610352 6.40941 0.0252047 6.32056 0.0717675 6.24288C0.11833 6.16521 0.185113 6.10165 0.264986 6.05897L7.76499 2.05897Z"
          fill="#A6B1D2"></path>
        <path
          d="M2.12499 9.06697L0.264986 10.059C0.185113 10.1016 0.11833 10.1652 0.0717675 10.2429C0.0252047 10.3206 0.000610352 10.4094 0.000610352 10.5C0.000610352 10.5905 0.0252047 10.6794 0.0717675 10.7571C0.11833 10.8347 0.185113 10.8983 0.264986 10.941L7.76499 14.941C7.83733 14.9795 7.91803 14.9996 7.99999 14.9996C8.08194 14.9996 8.16264 14.9795 8.23499 14.941L15.735 10.941C15.8149 10.8983 15.8816 10.8347 15.9282 10.7571C15.9748 10.6794 15.9994 10.5905 15.9994 10.5C15.9994 10.4094 15.9748 10.3206 15.9282 10.2429C15.8816 10.1652 15.8149 10.1016 15.735 10.059L13.875 9.06697L8.70499 11.823C8.48796 11.9385 8.24586 11.999 7.99999 11.999C7.75411 11.999 7.51201 11.9385 7.29499 11.823L2.12499 9.06697Z"
          fill="#A6B1D2"></path>
      </svg>

      <div class="card-with-icon-and-label__label">1С ДО</div>
    </div>
  </div>
</div>
