---
import './index.scss';
---

<div class="statistics-block">
  <div class="statistics-block__left-block">
    <p>[1,6-2] — полностью соответствует ожиданиям;</p>

    <p>[1,6-2] — полностью соответствует ожиданиям;</p>

    <p>[1,6-2] — полностью соответствует ожиданиям;</p>

    <p>[1,6-2] — полностью соответствует ожиданиям;</p>
  </div>

  <h4 class="statistics-block__summary">Итоговый средний балл: 2</h4>
</div>
