.white-block-1 {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 16px;

  h5 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #212529;
    margin-bottom: 16px;
  }

  &__text-block {
    margin-bottom: 16px;

    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #212529;
    }
  }
}
