---
import './_index.scss';
---

<div class="white-block-1">
  <h5>Описание</h5>

  <div class="white-block-1__text-block">
    <p>Адрес: ул. Ленина, д. 10, кв. 15</p>
    <p>Площадь: 60 м²</p>
    <p>Этаж: 5/10</p>
  </div>

  <div class="white-block-1__text-block">
    <p>
      Продается светлая и просторная 2-комнатная квартира в самом сердце города.
      Квартира расположена на 5 этаже 10-этажного кирпичного дома. Дом находится
      в тихом и зеленом районе, рядом с парком и набережной.
    </p>
  </div>

  <div class="white-block-1__text-block">
    <p>Описание квартиры:</p>
    <p>Общая площадь: 60 м²</p>
    <p>Жилая площадь: 35 м²</p>
    <p>Кухня: 10 м²</p>
    <p>Балкон: застеклен</p>
    <p>Санузел: раздельный</p>
    <p>Высота потолков: 2.7 м</p>
  </div>

  <div class="white-block-1__text-block">
    <p>Преимущества:</p>
    <p>Качественный ремонт</p>
    <p>Современная мебель и техника</p>
    <p>
      Окна выходят на юго-запад, что обеспечивает хорошее естественное освещение
    </p>
    <p>Кондиционер</p>
    <p>Встроенные шкафы-купе</p>
  </div>

  <div class="white-block-1__text-block">
    <p>Инфраструктура:</p>
    <p>
      Отличная транспортная доступность: рядом станции метро и остановки
      общественного транспорта
    </p>
    <p>
      Развитая инфраструктура: школы, детские сады, магазины, кафе, поликлиники
      – все в шаговой доступности
    </p>
    <p>Парковка во дворе</p>
  </div>

  <div class="white-block-1__text-block">
    <p>
      Документы: Квартира в собственности более 5 лет, документы готовы к
      сделке.
    </p>
  </div>
</div>
