.employees-content-your-team-block {
  @media (max-width: 1399px) {
    margin-top: 20px;
  }

  h4 {
    color: #212529;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
  }

  &__cards {
    @media (max-width: 1399px) {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      margin-top: 15px;
    }
  }
}

.employee-card {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  text-decoration: none;
  margin-top: 15px;
  transition: all 0.1s ease-in-out;

  @media (max-width: 1399px) {
    margin-top: 0;
  }

  @media (min-width: 1200px) and (max-width: 1300px) {
    gap: 6px;
  }

  &:hover {
    .employee-card__info p {
      color: #487cfb;
    }

    .employee-card__btn svg path {
      fill: #487cfb;
    }
  }

  &__avatar {
    img {
      border-radius: 50%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2px;

    p {
      color: #212529;
      font-size: 16px;
      font-weight: 500;
    }

    span {
      color: #7f8ebe;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &__btn {
    background-color: #f3f5fb;
    width: 31px;
    min-width: 31px;
    height: 31px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
}
