---
import './index.scss';
---

<div class="completed-signatures-block">
  <div class="completed-signatures-block__group">
    <div class="completed-signatures-block-item">
      <p class="completed-signatures-block-item__label">Подпись сотрудника</p>
      <p class="completed-signatures-block-item__label">Дата</p>
    </div>

    <div class="completed-signatures-block-item">
      <span
        class="completed-signatures-block-item__text completed-signatures-block-item__approved"
        >Ознакомлен</span
      >
      <span class="completed-signatures-block-item__text">07.06.2024</span>
    </div>
  </div>

  <div class="completed-signatures-block__group">
    <div class="completed-signatures-block-item">
      <p class="completed-signatures-block-item__label">Подпись руководителя</p>
      <p class="completed-signatures-block-item__label">Дата</p>
    </div>

    <div class="completed-signatures-block-item">
      <span
        class="completed-signatures-block-item__text completed-signatures-block-item__approved"
        >Ознакомлен</span
      >
      <span class="completed-signatures-block-item__text">07.06.2024</span>
    </div>
  </div>

  <div class="completed-signatures-block__group">
    <div class="completed-signatures-block-item">
      <p class="completed-signatures-block-item__label">Подпись HR</p>
      <p class="completed-signatures-block-item__label">Дата</p>
    </div>

    <div class="completed-signatures-block-item">
      <span
        class="completed-signatures-block-item__text completed-signatures-block-item__approved"
        >Ознакомлен</span
      >
      <span class="completed-signatures-block-item__text">07.06.2024</span>
    </div>
  </div>
</div>
