---
import Container from '@layouts/Container.astro';

import LeftContentBlock from '@components/pages/main/LeftContentBlock.astro';
import RightContentBlock from '@components/pages/main/RightContentBlock.astro';
---

<body>
  <Container>
    <main>
      <div class="main-page">
        <div class="row justify-content-between">
          <div class="col-md-9">
            <LeftContentBlock />
          </div>

          <div class="col-md-3">
            <RightContentBlock />
          </div>
        </div>
      </div>
    </main>
  </Container>
</body>

<style lang="scss">
  body {
    background-color: #f3f5fb;
  }

  .main-page {
    margin-top: 25px;
  }
</style>
