body {
  background-color: #f3f5fb;
}

.main-page {
  margin-top: 50px;

  .media-employee-interviews {
    &__breadcrumbs-and-star {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }

    &-header-block {
      margin-top: 25px;
      
      h2 {
        font-size: 32px;
        font-weight: 500;
        line-height: 38px;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }

    &-projects {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      &__list {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        gap: 40px 25px;
      }
    }
  }
}
