---
import Container from '@layouts/Container.astro';

import Star from '@components/common/Star.astro';
import SideMenu from '@components/pages/myPage/myPage4/SideMenu.astro';
import Table from '@components/pages/myPage/myPage4/Table.astro';
import WhiteCardsBlock from '@components/pages/myPage/whiteCardsBlock/WhiteCardsBlock.astro';
import SignaturesBlock from '@components/pages/myPage/SignaturesBlock.astro';
import Breadcrumbs from '@components/pages/myPage/Breadcrumbs.astro';
---

<body>
  <Container>
    <main>
      <div class="my-page-page">
        <div class="row justify-content-between">
          <div class="col-md-3">
            <SideMenu />
          </div>

          <div class="col-md-9">
            <div class="my-page-page__header">
              <Breadcrumbs />

              <div class="my-page-page__header-btns">
                <span>Печатать</span>
                <Star />
              </div>
            </div>

            <h4>Индивидуальный план работ на испытательный срок</h4>

            <div class="my-page-page__content">
              <div class="col-xxl-11 col-xl-12">
                <WhiteCardsBlock />
              </div>

              <div class="my-page-page__content-table">
                <Table />
              </div>

              <div class="my-page-page__signatures-block">
                <SignaturesBlock />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </Container>
</body>

<style lang="scss">
  body {
    background-color: #f3f5fb;
  }

  .my-page-page {
    margin: 50px 0;

    h4 {
      font-size: 28px;
      font-weight: 500;
      line-height: 120%;
      color: #212529;
      margin-top: 30px;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
    }

    &__header-btns {
      display: flex;
      gap: 5px;

      span {
        background-color: #cfe2ff;
        border-radius: 46px;
        height: 38px;
        padding: 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #487cfb;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
      }
    }

    &__content {
      margin-top: 30px;
    }

    &__content-table {
      margin-top: 40px;
    }

    &__signatures-block {
      margin-top: 20px;
    }
  }
</style>
