---
import Container from '@layouts/Container.astro';

import SideMenu from '@components/pages/myPage/myPage1/SideMenu.astro';
import Star from '@components/common/Star.astro';
import Info from '@components/pages/myPage/myPage1/Info.astro';
import WhiteBlockContacts from '@components/pages/myPage/myPage1/whiteBlocks/WhiteBlockContacts.astro';
import WhiteBlockInfo from '@components/pages/myPage/myPage1/whiteBlocks/WhiteBlockInfo.astro';
import WhiteBlockSubdivision from '@components/pages/myPage/myPage1/whiteBlocks/whiteBlockSubdivision/WhiteBlockSubdivision.astro';
import WhiteBlockFunctional from '@components/pages/myPage/myPage1/whiteBlocks/WhiteBlockFunctional.astro';
import WhiteBlockVacation from '@components/pages/myPage/myPage1/whiteBlocks/WhiteBlockVacation.astro';
---

<body>
  <Container>
    <main>
      <div class="my-page-page">
        <div class="row justify-content-between">
          <div class="col-md-3">
            <SideMenu />
          </div>

          <div class="col-md-9">
            <Star />
            <Info />

            <div class="row">
              <div class="col-md-11 col-xl-9">
                <div class="white-block">
                  <WhiteBlockContacts />
                </div>

                <div class="white-block">
                  <WhiteBlockInfo />
                </div>

                <div class="white-block">
                  <WhiteBlockSubdivision />
                </div>

                <div class="white-block">
                  <WhiteBlockFunctional />
                </div>

                <div class="white-block">
                  <WhiteBlockVacation />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </Container>
</body>

<style lang="scss">
  body {
    background-color: #f3f5fb;
  }

  .my-page-page {
    margin: 50px 0;
  }

  .white-block {
    background-color: #ffffff;
    margin-top: 24px;
    padding: 30px;
    border-radius: 16px;
  }
</style>
