---
import Container from '@layouts/Container.astro';

import Star from '@components/common/Star.astro';
import SideMenu from '@components/pages/myPage/myPage7/SideMenu.astro';
import Table from '@components/pages/myPage/myPage7/table/Table.astro';
import NavMenu from '@components/pages/myPage/myPage7/NavMenu.astro';
import Search from '@components/pages/myPage/myPage7/SearchWithBlueBtn.astro';
import BtnsGroup from '@components/pages/myPage/myPage7/BtnsGroup.astro';
---

<body>
  <Container>
    <main>
      <div class="my-page-page">
        <div class="row justify-content-between">
          <div class="col-md-3">
            <SideMenu />
          </div>

          <div class="col-md-9">
            <div class="my-page-page__header">
              <h4>Мои задачи</h4>
              <Star />
            </div>

            <div class="my-page-page__nav-menu">
              <NavMenu />
            </div>

            <div class="my-page-page__search-and-btns-group">
              <Search placeholder="Поиск по задачам... " />
              <BtnsGroup />
            </div>

            <div class="my-page-page__content">
              <Table />
            </div>
          </div>
        </div>
      </div>
    </main>
  </Container>
</body>

<style lang="scss">
  .my-page-page {
    margin: 50px 0;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;

      h4 {
        font-size: 28px;
        font-weight: 500;
        line-height: 120%;
        color: #212529;
      }
    }

    &__nav-menu {
      margin-top: 20px;
    }

    &__search-and-btns-group {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }

    &__content {
      margin-top: 30px;
    }
  }
</style>
