---
import './_index.scss';
---

<div class="range-steps">
  <input type="range" class="form-range" min="1" max="5" step="1" />
  <div class="range-steps__labels">
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>5</span>
  </div>
</div>
