---
import './index.scss';

import BlueCard from '@components/pages/gratitude/ContentRightBlock/BlueCard/index.astro';
import WhiteCard from '@components/pages/gratitude/ContentRightBlock/WhiteCard/index.astro';
---

<div class="content-right-block">
  <BlueCard />
  <WhiteCard />
</div>
