---
import './_index.scss';

import FileCard from '@components/pages/news/news2/FilesForDownload/FileCard/index.astro';
---

<div class="files-for-download">
  <h4 class="files-for-download__title">Файлы для скачивания</h4>

  <div class="files-for-download__files">
    <FileCard />
    <FileCard />
    <FileCard />
    <FileCard />
  </div>
</div>
