<div class="banner">
  <div class="banner__title">QMM 28/06: программа и другие детали</div>

  <div class="banner__text">
    Делимся программой мероприятия и подробностями о регистрации
  </div>
</div>

<style lang="scss">
  .banner {
    margin-top: 40px;
    width: 100%;
    padding: 16px;
    border-radius: 24px;
    color: #ffffff;
    background-image: url('/pages/main/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__title {
      font-size: 24px;
      font-weight: 500;
    }

    &__text {
      font-size: 16px;
      font-weight: 400;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
</style>
