<div class="employee-birthdays-block">
  <div class="employee-birthdays-block__header">
    <h3>Дни рождения сотрудников</h3>
  </div>

  <div class="employee-birthdays-block-cards">
    <div class="row row-cols-md-3 row-cols-xl-4 row-cols-xxl-5 gy-2">
      <div class="col">
        <div class="employee-birthdays-block-card">
          <img src="/pages/main/avatar.png" width="96" height="96" alt="Аватар" />

          <span class="employee-birthdays-block-card__baloon"
            ><img
              src="/pages/main/avatar-balloon.svg"
              width="36"
              height="36"
              alt="Воздушный шар"
            /></span
          >

          <p class="employee-birthdays-block-card__name">
            Константин Константинопальский
          </p>

          <div class="employee-birthdays-block-card__bottom">
            <span>11.02</span>
            <span>сегодня</span>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="employee-birthdays-block-card">
          <img src="/pages/main/avatar.png" width="96" height="96" alt="Аватар" />

          <span class="employee-birthdays-block-card__baloon"
            ><img
              src="/pages/main/avatar-balloon.svg"
              width="36"
              height="36"
              alt="Воздушный шар"
            /></span
          >

          <p class="employee-birthdays-block-card__name">
            Константин Константинопальский
          </p>

          <div class="employee-birthdays-block-card__bottom">
            <span>11.02</span>
            <span>сегодня</span>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="employee-birthdays-block-card">
          <img src="/pages/main/avatar.png" width="96" height="96" alt="Аватар" />

          <p class="employee-birthdays-block-card__name">
            Константин Константинопальский
          </p>

          <div class="employee-birthdays-block-card__bottom">
            <span>12.02</span>
            <span class="employee-birthdays-block-card__not-today-date"
              >завтра</span
            >
          </div>
        </div>
      </div>

      <div class="col">
        <div class="employee-birthdays-block-card">
          <img src="/pages/main/avatar.png" width="96" height="96" alt="Аватар" />

          <p class="employee-birthdays-block-card__name">
            Константин Константинопальский
          </p>

          <div class="employee-birthdays-block-card__bottom">
            <span>13.02</span>
            <span class="employee-birthdays-block-card__not-today-date"
              >в среду</span
            >
          </div>
        </div>
      </div>

      <div class="col">
        <div class="employee-birthdays-block-card">
          <img src="/pages/main/avatar.png" width="96" height="96" alt="Аватар" />

          <p class="employee-birthdays-block-card__name">
            Константин Константинопальский
          </p>

          <div class="employee-birthdays-block-card__bottom">
            <span>13.02</span>
            <span class="employee-birthdays-block-card__not-today-date"
              >в среду</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .employee-birthdays-block {
    margin-top: 60px;

    &__header {
      h3 {
        color: #212529;
        font-size: 32px;
        font-weight: 500;
      }
    }
  }

  .employee-birthdays-block-cards {
    margin-top: 25px;
  }

  .employee-birthdays-block-card {
    position: relative;
    color: #212529;

    img {
      border-radius: 50%;
    }

    &__baloon {
      position: absolute;
      top: -5px;
      left: 65px;
    }

    &__name {
      font-size: 15px;
      font-weight: 700;
      margin-top: 20px;
    }

    &__bottom {
      margin-top: 3px;
      display: flex;
      gap: 5px;
      font-size: 14px;
      font-weight: 400;
    }

    &__not-today-date {
      color: gray;
    }
  }
</style>
