---
import GrayCardWithImg from '../../common/GrayCardWithImg.astro';
---

<div class="gray-cards">
  <div class="row gy-4">
    <div class="col-md-6 col-xl-4">
      <GrayCardWithImg
        img="/pages/main/grayCards/2.png"
        subdivision="Название подразделения"
        title="Как мы съездили? Душевно и весело"
        description="Ранним утром волонтеры-москвичи устремились "
        date="12.03"
      />
    </div>

    <div class="col-md-6 col-xl-4">
      <GrayCardWithImg
        img="/pages/main/grayCards/3.png"
        subdivision="Название подразделения"
        title="Как мы съездили? Душевно и весело"
        description="Ранним утром волонтеры-москвичи устремились "
        date="12.03"
      />
    </div>

    <div class="col-md-6 col-xl-4">
      <GrayCardWithImg
        img="/pages/main/grayCards/4.png"
        subdivision="Название подразделения"
        title="Как мы съездили? Душевно и весело"
        description="Ранним утром волонтеры-москвичи устремились "
        date="12.03"
      />
    </div>
  </div>
</div>

<style lang="scss">
  .gray-cards {
    margin-top: 40px;
  }
</style>
