---
import GrayCardWithImg from '../../common/GrayCardWithImg.astro';
---

<div class="gray-cards">
  <div class="row">
    <div class="col-md-4">
      <GrayCardWithImg
        img="https://dummyimage.com/294x184/a6a6ff&text=+"
        subdivision="Название подразделения"
        title="Как мы съездили? Душевно и весело"
        description="Ранним утром волонтеры-москвичи устремились "
        date="12.03"
      />
    </div>

    <div class="col-md-4">
      <GrayCardWithImg
        img="https://dummyimage.com/294x184/a6a6ff&text=+"
        subdivision="Название подразделения"
        title="Как мы съездили? Душевно и весело"
        description="Ранним утром волонтеры-москвичи устремились "
        date="12.03"
      />
    </div>

    <div class="col-md-4">
      <GrayCardWithImg
        img="https://dummyimage.com/294x184/a6a6ff&text=+"
        subdivision="Название подразделения"
        title="Как мы съездили? Душевно и весело"
        description="Ранним утром волонтеры-москвичи устремились "
        date="12.03"
      />
    </div>
  </div>
</div>

<style lang="scss">
  .gray-cards {
    margin-top: 40px;
  }
</style>
