---
import grayCard2 from '@assets/pages/main/grayCards/2.png';
import grayCard3 from '@assets/pages/main/grayCards/3.png';
import grayCard4 from '@assets/pages/main/grayCards/4.png';

import GrayCardWithImg from '../../common/GrayCardWithImg.astro';
---

<div class="gray-cards">
  <div class="row gy-4">
    <div class="col-md-6 col-xl-4">
      <GrayCardWithImg
        img={grayCard2}
        subdivision="Название подразделения"
        title="Как мы съездили? Душевно и весело"
        description="Ранним утром волонтеры-москвичи устремились "
        date="12.03"
      />
    </div>

    <div class="col-md-6 col-xl-4">
      <GrayCardWithImg
        img={grayCard3}
        subdivision="Название подразделения"
        title="Как мы съездили? Душевно и весело"
        description="Ранним утром волонтеры-москвичи устремились "
        date="12.03"
      />
    </div>

    <div class="col-md-6 col-xl-4">
      <GrayCardWithImg
        img={grayCard4}
        subdivision="Название подразделения"
        title="Как мы съездили? Душевно и весело"
        description="Ранним утром волонтеры-москвичи устремились "
        date="12.03"
      />
    </div>
  </div>
</div>

<style lang="scss">
  .gray-cards {
    margin-top: 40px;
  }
</style>
