---
import Cards1 from '@components/pages/main/rightContentBlock/Cards1.astro';
import Cards2 from '@components/pages/main/rightContentBlock/Cards2.astro';
import CardsWithTitle from '@components/pages/main/rightContentBlock/CardsWithTitle.astro';
import Cards3 from '@components/pages/main/rightContentBlock/Cards3.astro';
import SoloCard from '@components/pages/main/rightContentBlock/SoloCard.astro';
import Employees from '@components/pages/main/rightContentBlock/Employees.astro';
import Tasks from '@components/pages/main/rightContentBlock/Tasks.astro';
import Vacation from '@components/pages/main/rightContentBlock/Vacation.astro';
import GrayCardWithImg from '@components/pages/main/rightContentBlock/GrayCardWithImg.astro';
import ChangeWidgetsBtn from '@components/pages/main/rightContentBlock/ChangeWidgetsBtn.astro';
import Advertising from '@components/pages/main/rightContentBlock/Advertising.astro';
---

<div>
  <span class="right-content-block-title">Избранное</span>
  <Cards1 />
  <Cards2 />
  <CardsWithTitle />
  <Cards3 />
  <SoloCard />
  <Employees />
  <Tasks />
  <Vacation />
  <GrayCardWithImg />
  <ChangeWidgetsBtn />
  <Advertising />
</div>

<style lang="scss">
  .right-content-block-title {
    color: #a6b1d2;
    font-size: 16px;
    font-weight: 500;
  }
</style>
