---
import './_index.scss';
import FileForDownload from '@components/common/FileForDownload/index.astro';
---

<div class="right-block">
  <p class="right-block__title">Документы</p>
  
  <FileForDownload label="Перечень необходимых документов" />
  <FileForDownload label="Условия госпрограммы" />
</div>
