---
import './_index.scss';

import FileForDownload from '@components/common/FileForDownload/index.astro';
---

<div class="right-block">
  <p class="right-block__title">Документы</p>

  <FileForDownload label="Заявление на ежегодный отпуск" />
  <FileForDownload label="Заявление на отпуск за свой счет" />
</div>
