---
import '@styles/breadcrumbs.scss';
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Ещё</a></li>
    <li class="breadcrumb-item active" aria-current="page">Идея 2.0</li>
  </ol>
</nav>
