.white-card {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 24px;

  &__title,
  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &__title {
    color: #212529;
  }

  &__text {
    color: #7f8ebe;
    margin-top: 8px;
  }

  &__btn {
    margin-top: 12px;
  }

  &__lists {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 250px;
    margin-top: 8px;
  }

  &__list {
    padding: 0;
    list-style: none;

    li {
      font-size: 16px;
      line-height: 24px;
    }

    &_gray li {
      color: #7f8ebe;
      font-weight: 400;
    }

    &_black li {
      color: #212529;
      font-weight: 700;
    }
  }
}
