---
import '@styles/navMenu.scss';
---

<ul class="nav-menu">
  <li class="nav-menu__item nav-menu__item_active">Все системы</li>
  <li class="nav-menu__item">1С: ДО</li>
  <li class="nav-menu__item">ЛКИ</li>
  <li class="nav-menu__item">CRM</li>
</ul>
