---
import './_index.scss';

import grayCard1 from '@assets/pages/main/grayCards/1.png';

import Button from '@components/common/Button/index.astro';
import GrayCardWithImg from '@components/common/GrayCardWithImg/index.astro';
---

<div class="news-block">
  <div class="news-block__header">
    <h3>Новости</h3>
    <Button text="Все новости" option="btn-primary" />
  </div>

  <div class="news-block__cards">
    <div class="row gy-4">
      <div class="col-md-6 col-xl-4">
        <GrayCardWithImg
          img="https://dummyimage.com/294x184/000000&text=+"
          subdivision="Название подразделения"
          title="Как мы съездили? Душевно и весело"
          description="Ранним утром волонтеры-москвичи устремились "
          date="12.03"
        />
      </div>

      <div class="col-md-6 col-xl-4">
        <GrayCardWithImg
          img="https://dummyimage.com/294x184/000000&text=+"
          subdivision="Название подразделения"
          title="Как мы съездили? Душевно и весело"
          description="Ранним утром волонтеры-москвичи устремились "
          date="12.03"
        />
      </div>

      <div class="col-md-6 col-xl-4">
        <GrayCardWithImg
          img={grayCard1}
          subdivision="Название подразделения"
          title="Как мы съездили? Душевно и весело"
          description="Ранним утром волонтеры-москвичи устремились "
          date="12.03"
        />
      </div>
    </div>
  </div>
</div>
