---
import '@styles/sideMenu.scss';
---

<ul class="side-menu">
  <li class="side-menu__item side-menu__item_active">
    <p>Отраслевые отчеты и исследования</p>
  </li>

  <li class="side-menu__item">
    <p>Рынок лизинга</p>
  </li>

  <li class="side-menu__item">
    <p>Обзор главных новостей</p>
  </li>

  <li class="side-menu__item">
    <p>Аналитика по регионам РФ</p>
  </li>

  <li class="side-menu__item">
    <p>NPS</p>
  </li>
</ul>
