---
import './index.scss';
---

<div class="row justify-content-between">
  <div class="col-md-5">
    <h4 class="functional-title">Функционал</h4>
  </div>

  <div class="col-md-6">
    <div class="functional-content">
      <div class="functional-content__item">
        <h4>Вопросы по страхованию бизнеcа</h4>
        <p>
          Тут подробнее о том что делает на много строк. Тут подробнее о том что
          делает на много строк. Тут подробнее о том что делает на много строк.
        </p>
      </div>

      <div class="functional-content__item">
        <h4>Вопросы по страхованию бизнева</h4>
        <p>Тут подробнее о том что делает</p>
      </div>

      <div class="functional-content__item">
        <h4>Вопросы по страхованию бизнева</h4>
        <p>Тут подробнее о том что делает</p>
      </div>

      <div class="functional-content__item">
        <h4>Вопросы по страхованию бизнева</h4>
        <p>Тут подробнее о том что делает</p>
      </div>
    </div>
  </div>
</div>
