---
import './_index.scss';
---

<div class="employees-table table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <th>№</th>
        <th>Задача</th>
        <th>Критерии выполнения</th>
        <th>{'Срок исполнения\nплан/факт'}</th>
        <th>Комментарии</th>
        <th>Оценка цели</th>
        <th>Выкл/вкл задача</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td colspan="7" style="text-align: center;">
          <div class="employees-table__btn">
            <span>Добавить задачу</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
