---
import '../../../../../styles/breadcrumbs.scss';
import './_index.scss';

const { breadcrumbs } = Astro.props;
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {breadcrumbs.map((item, index) => (
      <li class:list={['breadcrumb-item', { active: index === breadcrumbs.length - 1 }]}>
        {index === breadcrumbs.length - 1 ? (
          <span>{item.label}</span>
        ) : (
          <a href={item.href}>{item.label}</a>
        )}
      </li>
    ))}
  </ol>
</nav>