<div class="employees-table table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <th>№</th>
        <th>Задача</th>
        <th>Критерии выполнения</th>
        <th>{'Срок исполнения\nплан/факт'}</th>
        <th>Комментарии</th>
        <th>Оценка цели</th>
        <th>Выкл/вкл задача</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td colspan="7" style="text-align: center;">
          <div class="employees-table__btn">
            <span>Добавить задачу</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<style lang="scss">
  .employees-table {
    thead th {
      border: none;
      color: #b3b3b3;
      font-size: 12px;
      font-weight: 900;
      white-space: pre-line;
      background-color: #f3f5fb;
      vertical-align: top;
    }

    tbody::before {
      content: '-';
      display: block;
      line-height: 1em;
      color: transparent;
    }

    td {
      background-color: #f3f5fb;
      border: none;
    }

    &__btn {
      padding: 40px 0;

			span {
				background-color: #CFE2FF;
				padding: 10px 15px;
				border-radius: 46px;
				color: #487CFB;
        font-size: 16px;
        font-weight: 400;
				cursor: pointer;
      }
    }
  }
</style>
