---
import '@styles/breadcrumbs.scss';
import './_index.scss';
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Медиа</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        Календарь деловых мероприятий
    </li>
  </ol>
</nav>
