---
import './_index.scss';

import { Image } from 'astro:assets';

const { isRadio = false } = Astro.props;

import openImgIcon from '@assets/pages/survey/open-img-icon.png';
---

<div class="cards-with-img">
  {
    Array.from({ length: 4 }, (_, index) => (
      <div class="cards-with-img__item">
        <div class="form-check">
          <input
            class="form-check-input"
            type={isRadio ? 'radio' : 'checkbox'}
            name={isRadio ? 'cardswithimgRadioDefault' : ''}
            id={`cardswithimg${isRadio ? 'Radio' : 'Check'}Default${index + 1}`}
          />
          <label
            class="form-check-label"
            for={`cardswithimg${isRadio ? 'Radio' : 'Check'}Default${index + 1}`}
          >
            Label
          </label>
        </div>

        <div class="cards-with-img__item-img">
          <Image
            src="https://images.placeholders.dev/?width=126&height=71&text=+&bgColor=%23000000"
            alt="Картинка"
            width="343"
            height="273"
          />

          <a href="#" class="cards-with-img__item-open-img-icon">
            <Image src={openImgIcon} width="24" height="24" alt="Открыть" />
          </a>
        </div>
      </div>
    ))
  }
</div>
