---
const { label, text } = Astro.props;
---

<div class="col-md-6">
  <div class="white-cards-block-item">
    <p>{label}</p>
    <span>{text}</span>
  </div>
</div>

<style lang="scss">
  .white-cards-block-item {
    background-color: #ffffff;
    display: flex;
    padding: 12px 22px;
    border-radius: 10px;

    p,
    span {
      width: 50%;
      font-size: 14px;
      line-height: 150%;
      color: #212529;
    }

    p {
      font-weight: 700;
      padding-right: 30px;
    }

    span {
      font-weight: 400;
      border-left: 2px solid #D3D6D8;
      padding-left: 30px;
    }
  }
</style>
