---
import '@styles/breadcrumbs.scss';
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Ещё</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Доска объявлений</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Недвижимость</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Уютная 2-комнатная квартира в центре города
    </li>
  </ol>
</nav>
