.analytics-cards {
  margin-top: 5px;
}

.analytics-card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  text-decoration: none;
  
  &__label {
    color: #212529;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      color: #212529;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
  }
}
