---
import './_index.scss';

const { changeStatus } = Astro.props;

import CardOverlay from '@components/pages/main/rightContentBlocks/CardOverlay/index.astro';
---

<div class="row card-row gy-2 card-with-overlay">
  <div class="col-md-12 gx-2">
    {changeStatus && <CardOverlay />}

    <div class="gray-card-with-img">
      <img
        src="https://images.placeholders.dev/?width=126&height=71&text=+&bgColor=%23000000"
        alt="Картинка карточки"
      />

      <div class="gray-card-with-img__text">
        <p class="gray-card-with-img__title">21.06.2023 / корпоратив</p>
        <span class="gray-card-with-img__date">12.03</span>
      </div>
    </div>
  </div>
</div>
