---
import './_index.scss';
---

<div class="row card-row gy-2">
  <div class="col-md-12 gx-2">
    <div class="gray-card-with-img">
      <img
        src="https://dummyimage.com/294x184/000000&text=+"
        alt="Картинка карточки"
      />

      <div class="gray-card-with-img__text">
        <p class="gray-card-with-img__title">21.06.2023 / корпоратив</p>
        <span class="gray-card-with-img__date">12.03</span>
      </div>
    </div>
  </div>
</div>
