---
import './_index.scss';
---

<div class="row card-row gy-2">
  <div class="col-md-12 gx-2">
    <div class="gray-card-with-img">
      <img
        src="https://images.placeholders.dev/?width=126&height=71&text=+&bgColor=%23000000"
        alt="Картинка карточки"
      />

      <div class="gray-card-with-img__text">
        <p class="gray-card-with-img__title">21.06.2023 / корпоратив</p>
        <span class="gray-card-with-img__date">12.03</span>
      </div>
    </div>
  </div>
</div>
