---
import './_index.scss';

import TableCard from '@components/pages/myPage/myPage3/table/TableCard/index.astro';
---

<div class="employees-table table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <th>ФИО / дата рождения</th>
        <th>Должность</th>
        <th>Подразделение</th>
        <th>{'Дата приема\nДата прохождения ИС'}</th>
        <th>Достижения</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <TableCard />
      <TableCard />
    </tbody>
  </table>
</div>
