body {
  background-color: #f3f5fb;
}

.main-page {
  margin-top: 25px;

  .media-business-events {
    &-header {
      h2 {
        font-size: 32px;
        font-weight: 500;
        line-height: 38px;
      }
    }

    &-cards {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      &__list {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        gap: 40px 25px;
      }
    }
  }
}
