<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Интерактивная структура</a></li>
    <li class="breadcrumb-item active" aria-current="page">Иванов Иван Иванович</li>
  </ol>
</nav>


<style lang="scss">
  .breadcrumb-item {
    color: #487CFB;
    font-size: 16px;
    font-weight: 500;
    text-decoration-line: underline;
    text-underline-offset: 5px;
  }

  .active {
    color: #7F8EBE;
    font-size: 16px;
    font-weight: 400;
    text-decoration-line: none;
  }
</style>