.employees-table {
  thead th {
    border: none;
    color: #b3b3b3;
    font-size: 12px;
    font-weight: 900;
    white-space: pre-line;
  }

  tbody::before {
    content: '-';
    display: block;
    line-height: 1em;
    color: transparent;
  }
}
