---
import './_index.scss';
---

<div class="new-statistics">
  <div class="new-statistics__likes">
    <svg
      width="16"
      height="17"
      viewBox="0 0 16 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_812_1936)">
        <path
          d="M6.956 2.24504C7.021 1.31004 7.908 0.58704 8.864 0.82504L9.125 0.89104C9.588 1.00704 9.999 1.34704 10.137 1.85604C10.357 2.67204 10.67 4.36704 10.199 6.36604C10.3463 6.3457 10.494 6.32869 10.642 6.31504C11.355 6.25004 12.311 6.24304 13.158 6.52504C13.676 6.69804 14.152 7.20604 14.358 7.79804C14.542 8.33004 14.518 8.96004 14.124 9.53104C14.182 9.65004 14.227 9.77304 14.262 9.89404C14.339 10.164 14.375 10.461 14.375 10.75C14.375 11.039 14.339 11.336 14.262 11.606C14.223 11.741 14.172 11.879 14.102 12.01C14.271 12.397 14.209 12.829 14.099 13.158C13.9864 13.4829 13.8216 13.7872 13.611 14.059C13.665 14.211 13.687 14.371 13.687 14.524C13.687 14.829 13.598 15.149 13.434 15.436C13.1 16.022 12.437 16.5 11.5 16.5H8C7.395 16.5 6.93 16.419 6.534 16.282C6.1935 16.1577 5.8681 15.9953 5.564 15.798L5.516 15.768C5.012 15.461 4.517 15.159 3.448 15.046C2.682 14.964 2 14.346 2 13.5V9.50004C2 8.65004 2.685 8.06804 3.357 7.88504C4.206 7.65304 4.931 7.09804 5.489 6.47504C6.049 5.84804 6.403 5.19504 6.528 4.83604C6.727 4.26104 6.884 3.29704 6.956 2.24604V2.24504Z"
          fill="#198754"></path>
      </g>
      <defs>
        <clipPath id="clip0_812_1936">
          <rect width="16" height="16" fill="white" transform="translate(0 0.5)"
          ></rect>
        </clipPath>
      </defs>
    </svg>

    <span>10</span>
  </div>

  <div class="new-statistics__dislikes">
    <svg
      width="16"
      height="17"
      viewBox="0 0 16 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_812_638)">
        <path
          d="M6.956 15.034C7.021 15.97 7.908 16.693 8.864 16.454L9.125 16.389C9.36444 16.3331 9.58455 16.2141 9.7625 16.0444C9.94045 15.8747 10.0698 15.6605 10.137 15.424C10.357 14.608 10.67 12.912 10.199 10.914C10.335 10.934 10.484 10.951 10.642 10.965C11.355 11.03 12.311 11.036 13.158 10.754C13.676 10.581 14.152 10.074 14.358 9.48203C14.4611 9.19546 14.4937 8.88825 14.453 8.58642C14.4123 8.28459 14.2994 7.99701 14.124 7.74803C14.182 7.63003 14.227 7.50603 14.262 7.38603C14.339 7.11603 14.375 6.81803 14.375 6.53003C14.375 6.24003 14.339 5.94403 14.262 5.67303C14.2228 5.53352 14.1691 5.39846 14.102 5.27003C14.271 4.88303 14.209 4.45003 14.099 4.12103C13.9863 3.79651 13.8215 3.49253 13.611 3.22103C13.665 3.06803 13.687 2.90803 13.687 2.75603C13.6827 2.4353 13.5956 2.12113 13.434 1.84403C13.1 1.25703 12.437 0.780029 11.5 0.780029H8C7.395 0.780029 6.93 0.860029 6.534 0.997029C6.19346 1.12171 5.86807 1.28441 5.564 1.48203L5.516 1.51103C5.012 1.81903 4.517 2.12103 3.448 2.23403C2.682 2.31503 2 2.93403 2 3.77903V7.77903C2 8.63003 2.685 9.21203 3.357 9.39503C4.206 9.62703 4.931 10.182 5.489 10.805C6.049 11.431 6.403 12.085 6.528 12.443C6.727 13.018 6.884 13.983 6.956 15.034Z"
          fill="#DC3545"></path>
      </g>
      <defs>
        <clipPath id="clip0_812_638">
          <rect width="16" height="16" fill="white" transform="translate(0 0.5)"
          ></rect>
        </clipPath>
      </defs>
    </svg>

    <span>10</span>
  </div>

  <div class="new-statistics__comments">
    <svg
      width="16"
      height="17"
      viewBox="0 0 16 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_653_9648)">
        <path
          d="M16 8.50098C16 12.367 12.418 15.501 8 15.501C7.20765 15.502 6.41859 15.3992 5.653 15.195C5.069 15.491 3.728 16.059 1.472 16.429C1.272 16.461 1.12 16.253 1.199 16.067C1.553 15.231 1.873 14.117 1.969 13.101C0.744 11.871 0 10.261 0 8.50098C0 4.63498 3.582 1.50098 8 1.50098C12.418 1.50098 16 4.63498 16 8.50098ZM5 8.50098C5 8.23576 4.89464 7.98141 4.70711 7.79387C4.51957 7.60633 4.26522 7.50098 4 7.50098C3.73478 7.50098 3.48043 7.60633 3.29289 7.79387C3.10536 7.98141 3 8.23576 3 8.50098C3 8.76619 3.10536 9.02055 3.29289 9.20808C3.48043 9.39562 3.73478 9.50098 4 9.50098C4.26522 9.50098 4.51957 9.39562 4.70711 9.20808C4.89464 9.02055 5 8.76619 5 8.50098ZM9 8.50098C9 8.23576 8.89464 7.98141 8.70711 7.79387C8.51957 7.60633 8.26522 7.50098 8 7.50098C7.73478 7.50098 7.48043 7.60633 7.29289 7.79387C7.10536 7.98141 7 8.23576 7 8.50098C7 8.76619 7.10536 9.02055 7.29289 9.20808C7.48043 9.39562 7.73478 9.50098 8 9.50098C8.26522 9.50098 8.51957 9.39562 8.70711 9.20808C8.89464 9.02055 9 8.76619 9 8.50098ZM12 9.50098C12.2652 9.50098 12.5196 9.39562 12.7071 9.20808C12.8946 9.02055 13 8.76619 13 8.50098C13 8.23576 12.8946 7.98141 12.7071 7.79387C12.5196 7.60633 12.2652 7.50098 12 7.50098C11.7348 7.50098 11.4804 7.60633 11.2929 7.79387C11.1054 7.98141 11 8.23576 11 8.50098C11 8.76619 11.1054 9.02055 11.2929 9.20808C11.4804 9.39562 11.7348 9.50098 12 9.50098Z"
          fill="#7F8EBE"></path>
      </g>
      <defs>
        <clipPath id="clip0_653_9648">
          <rect
            width="16"
            height="16"
            fill="white"
            transform="translate(0 0.500977)"></rect>
        </clipPath>
      </defs>
    </svg>

    <span>10</span>
  </div>

  <div class="new-statistics__views">
    <svg
      width="16"
      height="17"
      viewBox="0 0 16 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.5 8.5C10.5 9.16304 10.2366 9.79893 9.76777 10.2678C9.29893 10.7366 8.66304 11 8 11C7.33696 11 6.70107 10.7366 6.23223 10.2678C5.76339 9.79893 5.5 9.16304 5.5 8.5C5.5 7.83696 5.76339 7.20107 6.23223 6.73223C6.70107 6.26339 7.33696 6 8 6C8.66304 6 9.29893 6.26339 9.76777 6.73223C10.2366 7.20107 10.5 7.83696 10.5 8.5Z"
        fill="#7F8EBE"></path>
      <path
        d="M0 8.5C0 8.5 3 3 8 3C13 3 16 8.5 16 8.5C16 8.5 13 14 8 14C3 14 0 8.5 0 8.5ZM8 12C8.92826 12 9.8185 11.6313 10.4749 10.9749C11.1313 10.3185 11.5 9.42826 11.5 8.5C11.5 7.57174 11.1313 6.6815 10.4749 6.02513C9.8185 5.36875 8.92826 5 8 5C7.07174 5 6.1815 5.36875 5.52513 6.02513C4.86875 6.6815 4.5 7.57174 4.5 8.5C4.5 9.42826 4.86875 10.3185 5.52513 10.9749C6.1815 11.6313 7.07174 12 8 12Z"
        fill="#7F8EBE"></path>
    </svg>

    <span>2 500</span>
  </div>
</div>
