---
import './_index.scss';

import Container from '@layouts/Container/index.astro';
import Breadcrumbs from '@components/pages/media/common/Breadcrumbs/index.astro';
import ProgressBar from '@components/pages/applications/common/ProgressBar/index.astro';
import CardField from '@components/pages/applications/common/CardField/index.astro';
import Star from '@components/common/Star/index.astro';

import Textarea from '@components/pages/applications/common/Textarea/index.astro';
import Input from '@components/pages/applications/common/Input/index.astro';
import Select from '@components/pages/applications/common/Select/index.astro';

const breadcrumbs = [
  {
    label: 'Ещё',
    href: '#',
  },
  {
    label: 'Опросы',
    href: '#',
  },
  {
    label: 'Маркетинговая поддержка 2024',
  },
];
---

<body>
  <Container>
    <main>
      <div class="main-page">
        <section class="media-applications-training">
          <div class="row justify-content-center">
            <div class="col-md-7">
              <div class="media-applications-training__breadcrumbs-and-star">
                <Breadcrumbs breadcrumbs={breadcrumbs} />
                <Star />
              </div>

              <div class="media-applications-training__content">
                <div class="media-applications-training__content__title">
                  Маркетинговая поддержка 2024
                </div>
                <div class="media-applications-training__content__description">
                  Цель опроса заключалась в том, чтобы определить наиболее
                  важные критерии выбора продукции для потребителей, а также
                  выявить их предпочтения относительно дизайна, упаковки, цены и
                  других характеристик товаров.
                </div>

                <div class="media-applications-training__content__progress">
                  <ProgressBar current={7} total={14} />
                </div>

                <form class="media-applications-training__content__form">
                  <div
                    class="media-applications-training__content__form__fields"
                  >
                    <CardField isRequired={true}>
                      <label slot="title"
                        >Каких маркетенговых материалов вам не хватает</label
                      >
                      <span slot="content">
                        <Textarea />
                      </span>
                    </CardField>

                    <CardField isRequired={true}>
                      <label slot="title">Как вам сейчас материалы?</label>
                      <span slot="content">
                        <Select placeholder="Материал" />
                      </span>
                    </CardField>

                    <CardField>
                      <label slot="title">К какой дате вам надо?</label>
                      <span slot="content">
                        <Input placeholder="02.10.2023" />
                      </span>
                    </CardField>

                    <CardField>
                      <label slot="title">В какое время?</label>
                      <span slot="content">
                        <div style="display: flex; gap: 12px">
                          <Input placeholder="02.10.2023" />
                          <Input placeholder="02.10.2023" />
                        </div>
                      </span>
                    </CardField>

                    <CardField>
                      <label slot="title">Примечание</label>
                      <span slot="content">
                        <Textarea />
                      </span>
                    </CardField>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </Container>
</body>
