---
import './_index.scss';

import Button from '@components/common/Button/index.astro';
---

<div class="idea-block">
  <h3>Идея 2.0</h3>
  <p>Проект ориентированный на вовлечение сотрудников в развитие бизнеса</p>

  <div class="idea-block__btns">
    <Button text="Есть идея" option="btn-primary" />
    <a href="#"> Посмотреть все идеи</a>
  </div>
</div>
