---
import Container from '@layouts/Container.astro';

import SideMenu from '@components/pages/employees/employees2/SideMenu.astro';
import NavMenu from '@components/pages/employees/employees2/NavMenu.astro';
import Search from '@components/pages/employees/Search.astro';
import Star from '@components/common/Star.astro';
import Table from '@components/pages/employees/employees2/Table.astro';
---

<body>
  <Container>
    <main>
      <div class="employees-page">
        <div class="row justify-content-between">
          <div class="col-md-3">
            <SideMenu />
          </div>

          <div class="col-md-9">
            <div class="employees-header">
              <div>
                <NavMenu />
                <Search />
              </div>

              <Star />
            </div>

            <Table />
          </div>
        </div>
      </div>
    </main>
  </Container>
</body>

<style lang="scss">
  .employees-page {
    margin-top: 50px;

    .employees-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 10px;
    }
  }
</style>
