---
import Container from '@layouts/Container.astro';

import Star from '@components/common/Star.astro';
import SideMenu from '@components/pages/employees/employees6/SideMenu.astro';
import PDFCard from '@components/pages/employees/employees6/PDFCard.astro'
---

<body>
  <Container>
    <main>
      <div class="employees-page">
        <div class="row justify-content-between">
          <div class="col-md-3">
            <SideMenu />
          </div>

          <div class="col-md-9">
            <div class="employee-pdf-header">
              <h3>PDF структура</h3>
              <Star />
            </div>

            <div class="employee-pdf-content row justify-content-between">
              <div class="col-md-6 mb-4">
                <PDFCard />
              </div>

              <div class="col-md-6 mb-4">
                <PDFCard />
              </div>

              <div class="col-md-6 mb-4">
                <PDFCard />
              </div>

              <div class="col-md-6 mb-4">
                <PDFCard />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </Container>

  <style lang="scss">
    body {
      background-color: #f3f5fb;
    }

    .employees-page {
      margin-top: 50px;
    }

    .employee-pdf-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        color: #212529;
        font-weight: 500;
        font-size: 28px;
      }
    }

    .employee-pdf-content {
      margin-top: 30px;
    }
  </style>
</body>
