---
import Container from '@layouts/Container.astro';

import SideMenu from '@components/pages/employees/employees3/SideMenu.astro';
import Search from '@components/common/SearchWithBlueBtn.astro';
import Star from '@components/common/Star.astro';
import BirthdaysBlock from '@components/pages/employees/employees3/BirthdaysBlock.astro';
import YourTeamBlock from '@components/pages/employees/employees3/YourTeamBlock.astro';
---

<body>
  <Container>
    <main>
      <div class="employees-page">
        <div class="row justify-content-between">
          <div class="col-md-3">
            <SideMenu />
          </div>

          <div class="col-md-9">
            <div class="employees-header">
              <Search bgColor="#ffffff" />
              <Star />
            </div>

            <div class="employees-content">
              <div class="row justify-content-between">
                <div class="col-xxl-8 col-md-12">
                  <BirthdaysBlock />
                </div>

                <div class="col-xxl-4 col-md-12">
                  <YourTeamBlock />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        import AirDatepicker from 'air-datepicker';
        import 'air-datepicker/air-datepicker.css';

        document.addEventListener('DOMContentLoaded', () => {
          new AirDatepicker('#datepicker', {});
        });
      </script>
    </main>
  </Container>
</body>

<style lang="scss">
  body {
    background-color: #f3f5fb;
  }

  .employees-page {
    margin-top: 50px;

    .employees-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }

  .employees-content {
    margin-top: 20px;
  }
</style>
