---
import Container from '@layouts/Container.astro';

import SideMenu from '@components/pages/employees/employees4/SideMenu.astro';
import Search from '@components/common/SearchWithBlueBtn.astro';
import Star from '@components/common/Star.astro';
import TreeAccordion from '@components/pages/employees/employees4/TreeAccordion.astro';
---

<body>
  <Container>
    <main>
      <div class="employees-page">
        <div class="row justify-content-between w-100">
          <div class="col-md-3">
            <SideMenu />
          </div>

          <div class="col-md-9 content-col">
            <div class="employees-header">
              <Search bgColor="#ffffff" placeholder="Поиск"/>
              <Star />
            </div>

            <div class="tree-employees-content-wrapper">
              <div class="tree-employees-content">
                <TreeAccordion />
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        const accordionBtns = document.querySelectorAll('.accordion-step__btn');

        accordionBtns.forEach((btn) => {
          btn.addEventListener('click', () => {
            const isOpen = btn.classList.toggle('openedAccordion');
            const text = btn.querySelector('span');
            const arrow = btn.querySelector('svg');

            text.textContent = isOpen ? 'Свернуть' : 'Развернуть';
            arrow.style.transform = isOpen ? 'rotate(180deg)' : 'unset';
          });
        });

        const setContentHeight = () => {
          const contentBlock = document.querySelector(
            '.tree-employees-content-wrapper'
          );
          contentBlock.style.maxHeight = `${contentBlock.offsetHeight}px`;
        };

        window.addEventListener('DOMContentLoaded', () => {
          setContentHeight();
        });

        window.addEventListener('resize', () => {
          setContentHeight();
        });
      </script>
    </main>
  </Container>
</body>

<style lang="scss">
  body {
    background-color: #f3f5fb;
    display: flex;
    height: 100vh;
  }

  main {
    flex: 1;
    display: flex;
  }

  .employees-page {
    margin-top: 50px;
    width: 100%;
    display: flex;

    .employees-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }

  .content-col {
    display: flex;
    flex-direction: column;
  }

  .tree-employees-content-wrapper {
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 25px 15px 15px 40px;
    height: 100%;
  }

  .tree-employees-content {
    overflow: auto;
    height: 100%;
    display: flex;
    padding: 0 25px 10px 0;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #CCD3E7;
      border-radius: 100px;
    }
  }
</style>
