---
import Container from '@layouts/Container.astro';

import SideMenu from '@components/pages/employees/employees1/SideMenu.astro';
import NavMenu from '@components/pages/employees/employees1/NavMenu.astro';
import Search from '@components/common/SearchWithBlueBtn.astro';
import Star from '@components/common/Star.astro'
import EmployeesContentBlock1 from '@components/pages/employees/employees1/employeesContentBlocks/EmployeesContentBlock1.astro'
import EmployeesContentBlock2 from '@components/pages/employees/employees1/employeesContentBlocks/EmployeesContentBlock2.astro'
import EmployeesContentBlock3 from '@components/pages/employees/employees1/employeesContentBlocks/EmployeesContentBlock3.astro'
---

<body>
  <Container>
    <main>
      <div class="employees-page">
        <div class="row justify-content-between">
          <div class="col-md-3">
            <SideMenu />
          </div>

          <div class="col-md-9">
            <div class="employees-header">
              <div class="employees-header__search-and-nav">
                <NavMenu />
                <Search />
              </div>

              <Star />
            </div>

            <EmployeesContentBlock1 />
            <EmployeesContentBlock2 />
            <EmployeesContentBlock3 />
          </div>
        </div>
      </div>
    </main>
  </Container>
</body>

<style lang="scss">
  .employees-page {
    margin-top: 50px;

    .employees-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 10px;

      &__search-and-nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
</style>
