.card-with-arrow {
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  text-decoration: none;

  &:hover &__btn img {
    transform: translateX(3px);
  }

  &__tag {
    background-color: #ee8031;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 4px;
    width: fit-content;
  }

  &__text-and-btn {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__text {
    color: #212529;
    font-size: 24px;
    font-weight: 500;
  }

  &__btn {
    padding: 9px;
    border: 1px solid #ccd3e7;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transition: all 0.3s ease;
    }
  }
}
