.contacts-title {
  line-height: 100%;
  color: #212529;
  font-size: 22px;
  font-weight: 500;
}

.contacts-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    width: fit-content;

    span {
      color: #212529;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
