.block-with-title {
  background-color: #ffffff;
  padding: 12px;
  border-radius: 16px;

  h4 {
    color: #212529;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
  }
}

.card-row {
  margin-top: 5px;

  &_gray {
    padding: 0 12px;
  }
}

.employee-card {
  display: flex;
  margin-top: 12px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    .employee-card__text p {
      color: #487cfb;
    }

    svg path {
      fill: #487cfb;
    }
  }

  &__avatar {
    width: fit-content;

    img {
      border-radius: 50%;
    }
  }

  &__text {
    margin-left: 6px;
    margin-right: 5px;

    p {
      color: #212529;
      font-size: 14px;
      font-weight: 500;
      line-height: 100%;
      margin-bottom: 2px;
    }

    span {
      color: #7f8ebe;
      font-size: 14px;
      font-weight: 400;
      line-height: 100%;
    }
  }

  &__arrow-btn {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
