---
import './index.scss';

import Comment from '@components/pages/news/news2/Comments/Comment/index.astro';
import Input from '@components/pages/news/news2/Comments/Input/index.astro';
---

<div class="comments">
  <h4 class="comments__title">Комментарии</h4>

  <div class="comments__list">
    <Comment />
  </div>

  <Input />
</div>
