.white-card {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  p {
    color: #222222;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
  }

  span {
    color: #7f8ebe;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &__btn {
    display: flex;
    width: 32px;
    height: 32px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #ccd3e7;
  }
}

.white-card-modal {
  background-color: #f5f7fc;
  padding: 24px;
  border-radius: 24px;

  &__close-btn {
    display: flex;
    justify-content: flex-end;
  }

  .modal-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    color: #212529;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .modal-body {
    padding: 0;
    max-height: 660px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .feedback-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
