<ul class="nav-menu">
  <li class="nav-menu__item nav-menu__item_active">Все системы</li>
  <li class="nav-menu__item">1С: ДО</li>
  <li class="nav-menu__item">ЛКИ</li>
  <li class="nav-menu__item ">CRM</li>
</ul>

<style lang="scss">
  .nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    &__item:not(.nav-menu__item_active) {
      cursor: pointer;
    }

    &__item {
      padding: 2px 8px;
      transition: all 0.1s ease-in-out;
      border-radius: 100px;
      font-size: 14px;
      font-weight: 500;
      color: #212529;
      background-color: #E7F1FF;

      &:hover:not(.nav-menu__item_active) {
        background-color: #487cfb;
        color: #ffffff;
      }

      &_active {
        background-color: #487cfb;
        color: #ffffff;
      }
    }
  }
</style>
