---
import '@styles/breadcrumbs.scss';
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Ещё</a></li>
    <li class="breadcrumb-item"><a href="#">Опросы</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Маркетинговая поддержка 2024
    </li>
  </ol>
</nav>
