.history-table {
  margin-top: 40px;

  th {
    border-top: 1px solid #487cfb;
    border-left: 1px solid #487cfb;
    border-right: 1px solid #487cfb;
    border-bottom: 2px solid #000000;
  }

  td {
    border: 1px solid #487cfb;
  }
}
