---
import './index.scss';

import Container from '@layouts/Container/index.astro';

import Star from '@components/common/Star/index.astro';
import SideMenu from '@components/pages/employees/employees6/SideMenu/index.astro';
import PDFCard from '@components/pages/employees/employees6/PDFCard/index.astro';
---

<body>
  <Container>
    <main>
      <div class="employees-page">
        <div class="row justify-content-between">
          <div class="col-md-3">
            <SideMenu />
          </div>

          <div class="col-md-9">
            <div class="employee-pdf-header">
              <h4 class="employee-pdf-header__title">PDF структура</h4>
              <Star />
            </div>

            <div class="employee-pdf-content row justify-content-between">
              <div class="col-md-6 mb-4">
                <PDFCard />
              </div>

              <div class="col-md-6 mb-4">
                <PDFCard />
              </div>

              <div class="col-md-6 mb-4">
                <PDFCard />
              </div>

              <div class="col-md-6 mb-4">
                <PDFCard />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </Container>
</body>
