---
import './_index.scss';

import Container from '@layouts/Container/index.astro';

import SideMenu from '@components/pages/employees/employees6/SideMenu/index.astro';
import Search from '@components/common/SearchWithBlueBtn/index.astro';
import Star from '@components/common/Star/index.astro';
import BirthdaysBlock from '@components/pages/employees/employees6/BirthdaysBlock/index.astro';
import YourTeamBlock from '@components/pages/employees/employees6/YourTeamBlock/index.astro';
---

<body>
  <Container isWhiteBgSearch>
    <main>
      <div class="employees-page">
        <div class="row justify-content-between">
          <div class="col-md-3">
            <SideMenu />
          </div>

          <div class="col-md-9">
            <div class="employees-header">
              <Search bgColor="#ffffff" />
              <Star />
            </div>

            <div class="employees-content">
              <div class="row justify-content-between">
                <div class="col-xxl-8 col-md-12">
                  <BirthdaysBlock />
                </div>

                <div class="col-xxl-4 col-md-12">
                  <YourTeamBlock />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </Container>
</body>
